/* **********************************
   **********Blog Page Start*********
   ********************************** */
.journal {
    position: relative;

    .container {
        .journal-inr {
            padding-block: 90px;

            .wrapper {
                width: 700px;
                max-width: 100%;

                .heading {
                    color: var(--bs-primary-03);
                }

                .desc {
                    margin-top: 14px;
                    color: var(--bs-secondary-01);
                }
            }

            .row {
                margin-block: 100px 38px;

                @media (max-width: 991.98px) {
                    margin-block: 80px 38px;
                }

                >.blogs {
                    @media (min-width: 1140px) {
                        padding-right: 25px;
                    }

                    .mySwiper5 {
                        position: relative;

                        .swiper-wrapper {

                            .swiper-slide {
                                .blogs {
                                    padding: 13px;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 50px 0;

                                    .blog-otr {
                                        .blog-inr {
                                            background-color: var(--bs-white);
                                            border-radius: 30px 30px 0 0;
                                            box-shadow: 0 28px 12px #bebebe25;
                                            overflow: hidden;

                                            .img-otr {
                                                overflow: hidden;
                                                position: relative;

                                                .img {
                                                    width: 100%;
                                                    height: 100%;
                                                    height: 450px;
                                                    object-fit: cover;
                                                    object-position: center;
                                                    transition: all 0.3s ease;
                                                }

                                                &::after {
                                                    content: "";
                                                    width: 100%;
                                                    height: 100%;
                                                    background-color: rgba($color: #000000, $alpha: 0.25);
                                                    position: absolute;
                                                    top: 0;
                                                    left: 0;
                                                    visibility: hidden;
                                                    opacity: 0;
                                                    transition: all 0.3s;
                                                }
                                            }

                                            .content-otr {
                                                padding: 38px 32px;

                                                @media (max-width: 575.98px) {
                                                    padding: 28px;
                                                }

                                                .tags {
                                                    display: flex;
                                                    gap: 0 28px;

                                                    @media (max-width: 575.98px) {
                                                        flex-wrap: wrap;
                                                    }

                                                    .tag-otr {
                                                        display: flex;
                                                        align-items: center;
                                                        gap: 0 8px;
                                                        flex-wrap: wrap;
                                                        justify-content: center;

                                                        .icon-otr {
                                                            font-size: 25px;
                                                            color: var(--bs-primary-03);
                                                        }

                                                        .label {
                                                            color: var(--bs-tint13-grey);
                                                        }
                                                    }

                                                    .tag-link {
                                                        &:hover {

                                                            .icon-otr,
                                                            .label {
                                                                transition: all 0.3s;

                                                                color: var(--bs-primary-01);
                                                            }
                                                        }
                                                    }
                                                }

                                                .head-desc {
                                                    margin-block: 32px;

                                                    @media (max-width: 575.98px) {
                                                        margin-block: 25px;
                                                    }

                                                    .heading {
                                                        color: var(--bs-primary-03);
                                                        transition: all 0.3s;
                                                        overflow: hidden;
                                                        display: -webkit-box;
                                                        -webkit-line-clamp: 2;
                                                        -webkit-box-orient: vertical;

                                                        &:hover {
                                                            color: var(--bs-tint1-blue);
                                                        }
                                                    }

                                                    .desc {
                                                        margin-top: 15px;
                                                        color: var(--bs-tint13-grey);
                                                        overflow: hidden;
                                                        display: -webkit-box;
                                                        -webkit-line-clamp: 4;
                                                        -webkit-box-orient: vertical;

                                                        @media (max-width: 575.98px) {
                                                            margin-top: 10px;
                                                        }
                                                    }
                                                }

                                                .action-otr {
                                                    .action-btn {
                                                        padding: 14px 42px;

                                                        @media (max-width: 575.98px) {
                                                            padding: 12px 32px;
                                                        }
                                                    }
                                                }
                                            }

                                            &:hover {
                                                .img-otr {
                                                    .img {
                                                        transform: scale(1.1);
                                                    }

                                                    &:after {
                                                        visibility: visible;
                                                        opacity: 1;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .pagination-otr {
                            position: relative;
                            padding: 30px;

                            .swiper-button-next,
                            .swiper-button-prev {
                                width: fit-content;
                                height: fit-content;

                                .primary-btn {
                                    .text {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                    }

                                    @media (max-width: 575.98px) {
                                        display: none;
                                    }
                                }

                                @media (min-width: 575.98px) {
                                    &::after {
                                        content: none;
                                    }
                                }

                                @media (max-width: 575.98px) {

                                    &::after {
                                        width: 52px;
                                        height: 52px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        color: var(--bs-white);
                                        background: var(--bs-primary-03);
                                        font-size: 24px;
                                        border-radius: 50%;
                                    }
                                }

                                @media (max-width: 420px) {
                                    &::after {
                                        width: 48px;
                                        height: 48px;
                                        font-size: 18px;
                                    }
                                }
                            }

                            .swiper-button-next {
                                .primary-btn {
                                    .text {
                                        .icon {
                                            margin-left: 8px;
                                        }
                                    }
                                }
                            }

                            .swiper-button-prev {
                                .primary-btn {
                                    .text {
                                        .icon {
                                            margin-right: 8px;
                                        }
                                    }
                                }
                            }

                            .swiper-pagination {
                                position: relative;
                                bottom: -100%;
                                font: 25px / 133.2% "Jost-Medium";

                                .swiper-pagination-total {
                                    color: var(--bs-tint13-grey);
                                }

                                .swiper-pagination-current {
                                    color: var(--bs-primary-03);
                                }

                                @media (max-width: 575.98px) {
                                    font: 22px / 133.2% "Jost-Medium";
                                }

                                @media (max-width: 420px) {
                                    font: 20px / 120% "Jost-Medium";
                                }
                            }
                        }
                    }
                }

                .right-side-bar {
                    @media (min-width: 1140px) {
                        padding-left: 25px;
                    }

                    display: flex;
                    flex-direction: column;
                    gap: 50px 0;

                    .form-otr {
                        padding: 30px 33px;
                        background-color: var(--bs-white);
                        border-radius: 30px;
                        box-shadow: 0 28px 57px #bebebe25;

                        @media (max-width: 575.98px) {
                            padding: 22px 28px;
                        }

                        @media (max-width: 420px) {
                            padding: 18px 20px;
                            border-radius: 20px;
                        }

                        .input-otr {
                            background-color: var(--bs-tint11-grey);
                            border-radius: 18px;
                            position: relative;

                            @media (max-width: 420px) {
                                border-radius: 14px;
                            }

                            .input-search {
                                background: transparent;
                                padding: 20px 29px;
                                border: none;
                                width: calc(100% - 22px);

                                @media (max-width: 575.98px) {
                                    padding: 16px 24px;
                                }

                                &:focus {
                                    outline: none;
                                }
                            }

                            .icon {
                                position: absolute;
                                top: 50%;
                                right: 18px;
                                color: var(--bs-primary-03);
                                font-size: 22px;
                                -webkit-text-stroke: 2px;
                                transform: translateY(-50%);

                                @media (max-width: 575.98px) {
                                    font-size: 20px;
                                }
                            }
                        }
                    }

                    .recent-post-otr {
                        .recent-post-inr {
                            padding: 46px 34px;
                            background-color: var(--bs-white);
                            border-radius: 30px;
                            border: 1px solid transparent;
                            background: linear-gradient(var(--bs-white), var(--bs-white)) padding-box,
                                linear-gradient(0deg, var(--bs-tint12-grey), var(--bs-white)) border-box;
                            box-shadow: 40px 48px 105px #9b9b9b20;

                            @media (max-width: 420px) {
                                padding: 33px 28px;
                            }

                            .heading {
                                color: var(--bs-primary-03);

                                @media (max-width: 420px) {
                                    margin-top: 8px;
                                }
                            }

                            .posts-otr {
                                margin-top: 19px;

                                .posts-ul {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 0 19px;

                                    .post-li {
                                        gap: 0 20px;
                                        padding-bottom: 30px;
                                        position: relative;

                                        @media (max-width:420px) {
                                            flex-direction: column;
                                        }

                                        .img-otr {
                                            @media (max-width: 420px) {
                                                width: 100%;
                                            }

                                            .img {
                                                width: 100px;
                                                height: 100px;
                                                border-radius: 15px;
                                                object-fit: cover;
                                                object-position: center;

                                                @media (max-width: 420px) {
                                                    width: 100%;
                                                }
                                            }
                                        }

                                        .content-otr {
                                            .heading {
                                                color: var(--bs-primary-03);
                                                line-height: 123.5%;
                                            }

                                            .text {
                                                margin-top: 10px;
                                                display: flex;
                                                flex-wrap: wrap;

                                                .date {
                                                    color: #666a82;
                                                    position: relative;
                                                    margin-right: 20px;

                                                    &::after {
                                                        content: "";
                                                        width: 5px;
                                                        height: 5px;
                                                        background-color: var(--bs-primary-01);
                                                        border-radius: 100%;
                                                        position: absolute;
                                                        top: 55%;
                                                        right: -15px;
                                                        transform: translateY(-55%);
                                                    }
                                                }

                                                .time {
                                                    color: #666a82;
                                                }
                                            }

                                        }

                                        &:nth-child(2) {
                                            margin-block: 19px;
                                        }

                                        &:not(:last-child) {
                                            &::after {
                                                content: "";
                                                width: 100%;
                                                height: 1px;
                                                background-color: var(--bs-secondary-02);
                                                position: absolute;
                                                left: 0;
                                                bottom: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .categories-otr {
                        .categories-inr {
                            padding: 58px 39px;
                            background-color: var(--bs-white);
                            border-radius: 30px;
                            border: 1px solid transparent;
                            background: linear-gradient(var(--bs-white), var(--bs-white)) padding-box,
                                linear-gradient(0deg, var(--bs-tint12-grey), var(--bs-white)) border-box;
                            box-shadow: 40px 48px 105px #9b9b9b20;

                            @media (max-width: 420px) {
                                padding: 30px 24px;
                            }

                            .heading {
                                color: var(--bs-primary-03);
                            }

                            .category-otr {
                                margin-top: 20px;

                                .category-ul {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 20px 0;

                                    .category-li {
                                        padding-bottom: 22px;
                                        position: relative;
                                        display: flex;
                                        justify-content: space-between;

                                        .text {
                                            color: var(--bs-secondary-01);
                                        }

                                        &:not(:last-child) {
                                            &::after {
                                                content: "";
                                                width: 100%;
                                                height: 1px;
                                                background-color: var(--bs-secondary-02);
                                                position: absolute;
                                                left: 0;
                                                bottom: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &::after {
        content: "";
        background: url(/assets/img/section-vector.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        width: 100%;
        height: 1000px;
        position: absolute;
        top: 8%;
        right: 0;
        transform: translateY(-8%);
        z-index: -1;
    }

    @media (max-width: 1400px) {
        &::after {
            height: 850px;
        }
    }

    @media (max-width: 1200px) {
        &::after {
            height: 700px;
        }
    }

    @media (max-width: 991.98px) {
        &::after {
            content: none;
        }
    }
}

/* **********************************
   ***********Blog Page End**********
   ********************************** */