/* **********************************
   *******Footer Section Start*******
   ********************************** */

.footer {
    background-color: var(--bs-primary-03);
    padding-top: 100px;

    .container {
        .footer-inr {
            .logo-icon-otr {
                display: flex;
                justify-content: space-between;
                align-items: center;

                @media (max-width: 420px) {
                    flex-direction: column;
                    gap: 18px 0;
                    align-items: flex-start;
                }

                .logo-main {
                    .logo-otr {
                        .logo {
                            width: 260px;
                            height: 55px;
                            object-fit: contain;

                            @media (max-width: 991.98px) {
                                width: 200px;
                                height: 45px;
                            }

                            @media (max-width: 767.98px) {
                                width: 180px;
                                height: 40px;
                            }
                        }

                    }
                }

                .social-otr {
                    .social-ul {
                        gap: 0 27px;

                        @media (max-width: 767.98px) {
                            gap: 0 20px;
                        }

                        .social-li {
                            .social-a {
                                .icon {
                                    font-size: 20px;
                                    color: var(--bs-white);
                                    transition: all 0.3s;

                                    &:hover {
                                        color: var(--bs-tint1-blue);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            >.row {
                position: relative;
                align-items: baseline;
                margin-block: 39px;
                padding-top: 14px;

                @media (max-width: 991.98px) {
                    gap: 24px 0;
                }

                .col-links-otr {

                    @media (max-width: 767.98px) {
                        gap: 46px 0;
                    }

                    .col-link-otr {
                        .col-link-inr {
                            position: relative;

                            .heading {
                                color: var(--bs-white);
                            }

                            .link-ul {
                                margin-top: 60px;
                                display: flex;
                                flex-direction: column;
                                gap: 11px 0px;

                                @media (max-width: 767.98px) {
                                    margin-top: 44px;
                                }

                                .link-li {
                                    .link-a {
                                        color: var(--bs-white);
                                        transition: all 0.3s;

                                    }
                                }
                            }

                            @media (max-width: 767.98px) {
                                &::before {
                                    content: "";
                                    width: 100%;
                                    height: 1px;
                                    background-color: var(--bs-tint1-grey);
                                    position: absolute;
                                    top: -17px;
                                    left: 0;
                                }

                                &::after {
                                    content: "";
                                    width: 100%;
                                    height: 1px;
                                    background-color: var(--bs-tint1-grey);
                                    position: absolute;
                                    top: 50px;
                                    left: 0;
                                }
                            }
                        }
                    }

                    .col-link-otr:not(:last-child) {
                        .col-link-inr {
                            .link-ul {
                                .link-li {
                                    .link-a {
                                        &:hover {
                                            color: var(--bs-tint1-blue);
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .col-link-otr:last-child {
                        .col-link-inr {
                            .link-ul {
                                display: flex;
                                flex-direction: column;
                                gap: 22px 0;

                                @media (max-width: 767.98px) and (min-width: 420px) {
                                    flex-direction: row;
                                    gap: 26px 0;
                                }

                                .link-li {
                                    padding: 19px 21px;
                                    border: 1px solid transparent;
                                    background: linear-gradient(var(--bs-primary-03), var(--bs-primary-03)) padding-box,
                                        linear-gradient(-90deg, var(--bs-tint1-grey), var(--bs-primary-03)) border-box;
                                    border-radius: 20px;
                                }
                            }
                        }
                    }
                }

                .col-news-otr {
                    .col-news-inr {
                        position: relative;

                        @media (max-width: 991.98px) {
                            padding-top: 14px;
                        }

                        .heading-otr {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .heading {
                                color: var(--bs-white);
                            }

                            .icon-otr {
                                .icon-a {
                                    padding: 14px 16px;
                                    border: 1px solid var(--bs-tint-grey);
                                    border-radius: 100%;
                                    width: 50px;
                                    height: 50px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    .icon {
                                        color: var(--bs-white);
                                        font-size: 14px;
                                        -webkit-text-stroke: 0.5px;
                                    }
                                }
                            }
                        }

                        .content-otr {
                            .content-inr {
                                margin-top: 62px;
                                border-radius: 30px;
                                overflow: hidden;
                                position: relative;

                                .img-otr {
                                    width: 100%;
                                    height: 246px;

                                    .news-img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                        object-position: center;
                                        transition: all 0.3s;
                                    }
                                }

                                .overlay {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    background-color: rgba($color: #000000, $alpha: 0.25);
                                    visibility: hidden;
                                    opacity: 0;
                                    transition: all 0.3s;

                                    .action-btn {
                                        position: absolute;
                                        overflow: hidden;
                                        top: 60%;
                                        left: 50%;
                                        transform: translate(-50%, -60%);
                                        padding: 14px 44px;
                                        border-radius: 5px;
                                        transition: all 0.3s;
                                        color: var(--bs-primary-03);
                                        background-color: #ffffffbf;

                                        @media (max-width: 575.98px) {
                                            padding: 12px 28px;
                                        }

                                        &::after {
                                            content: "";
                                            width: 100%;
                                            height: 100%;
                                            background-color: #47cfff75;
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            z-index: -1;
                                            transform: scale(0);
                                            transition: all 0.3s;
                                        }

                                        &:hover {
                                            &::after {
                                                transform: scale(1);
                                            }
                                        }
                                    }
                                }

                                &:hover {
                                    .img-otr {
                                        .news-img {
                                            transform: scale(1.1);
                                        }
                                    }

                                    .overlay {
                                        visibility: visible;
                                        opacity: 1;

                                        .action-btn {
                                            top: 50%;
                                            transform: translate(-50%, -50%);
                                        }
                                    }
                                }
                            }
                        }

                        @media (max-width: 991.98px) {
                            &::before {
                                content: "";
                                width: 100%;
                                height: 1px;
                                background-color: var(--bs-tint-grey);
                                position: absolute;
                                top: 0;
                                left: 0;
                            }

                            &::after {
                                content: "";
                                width: 100%;
                                height: 1px;
                                background-color: var(--bs-tint-grey);
                                position: absolute;
                                top: 74px;
                                left: 0;
                            }
                        }
                    }
                }

                &::before {
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-color: var(--bs-tint-grey);
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &::after {
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-color: var(--bs-tint-grey);
                    position: absolute;
                    top: 72px;
                    left: 0;
                }

                @media (max-width: 767.98px) {
                    &::after {
                        top: 64px;
                    }
                }

                @media (max-width: 767.98px) {

                    &::before,
                    &::after {
                        content: none;
                    }
                }
            }

            .copyright-otr {
                padding-block: 27px 12px;
                position: relative;

                .text {
                    color: var(--bs-white);

                    .link {
                        color: var(--bs-white);
                        transition: all 0.3s;

                        &:hover {
                            color: var(--bs-tint1-blue);
                        }
                    }
                }

                &::before {
                    content: "";
                    width: 100%;
                    height: 1px;
                    border: 1px solid var(--bs-tint-grey);
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
}

/* **********************************
   *********Footer Section End*******
   ********************************** */