/* **********************************
   *******Overlay Section Start******
   ********************************** */

.overlay-main {
    .offcanvas {
        .offcanvas-body {
            padding-top: 35px;

            .logo-main {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .logo-otr {
                    .logo-img {
                        width: 170px;
                        height: 45px;
                        object-fit: contain;

                        @media (max-width:1400px) {
                            width: 200px;
                        }

                        @media (max-width: 991.98px) {
                            width: 190px;
                        }

                        @media (max-width: 420px) {
                            width: 150px;
                        }
                    }
                }

                .close-icon-otr {
                    background-color: var(--bs-secondary-01);
                    border-radius: 100%;
                    width: 52px;
                    height: 52px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.3s;
                    cursor: pointer;

                    @media (max-width: 420px) {
                        width: 40px;
                        height: 40px;
                    }

                    .icon {
                        font-size: 25px;
                        -webkit-text-stroke: 2px;
                        color: var(--bs-secondary-03);
                        transition: all 0.3ss;

                        @media (max-width:420px) {
                            font-size: 20px;
                        }
                    }

                    &:hover {
                        background-color: var(--bs-secondary-03);

                        .icon {
                            color: var(--bs-secondary-01);
                        }
                    }
                }
            }

            .menu-action {
                margin-top: 25px;
                gap: 25px 0;

                .menu-otr {
                    .menu-ul {
                        gap: 10px 0;

                        .menu-li {
                            .menu-a {
                                position: relative;
                                color: var(--bs-primary-03);
                                transition: all 0.3s;

                                &:hover {
                                    color: var(--bs-tint1-blue);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* **********************************
   *******Overlay Section End********
   ********************************** */

/* **********************************
   *******Header Section Start*******
   ********************************** */

.header-main {
    padding-top: 35px;

    @media (max-width: 991.98px) {
        padding-top: 20px;
    }

    .container {
        .header-inr {
            .logo-main {
                .logo-otr {
                    .logo-img {
                        width: 260px;
                        height: 55px;
                        object-fit: contain;

                        @media (max-width:1400px) {
                            width: 200px;
                        }

                        @media (max-width: 991.98px) {
                            width: 190px;
                        }

                        @media (max-width: 420px) {
                            width: 150px;
                        }
                    }
                }
            }

            .menu-action {
                display: flex;
                gap: 0 45px;
                justify-content: center;

                @media (max-width:1400px) {
                    gap: 0 35px;
                }

                @media (max-width: 1200px) {
                    gap: 0 20px;
                }

                @media (max-width: 991.98px) {
                    display: none;
                }

                .menu-otr {
                    .menu-ul {
                        display: flex;
                        gap: 0 45px;
                        align-items: center;

                        @media (max-width:1400px) {
                            gap: 0 35px;
                        }



                        .menu-li {
                            .menu-a {
                                position: relative;
                                color: var(--bs-primary-03);
                                transition: all 0.3s;

                                &::after {
                                    content: "";
                                    width: 50%;
                                    height: 2px;
                                    background-color: var(--bs-primary-03);
                                    position: absolute;
                                    bottom: 2px;
                                    left: 0;
                                    transition: all 0.3s;
                                    visibility: hidden;
                                    opacity: 0;
                                }

                                &:hover {
                                    &::after {
                                        width: 100%;
                                        visibility: visible;
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .menu-icon-otr {
                background-color: var(--bs-secondary-03);
                border-radius: 100%;
                width: 52px;
                height: 52px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: all 0.3s;

                @media (min-width: 991.98px) {
                    display: none;
                }

                @media (max-width: 420px) {
                    width: 48px;
                    height: 48px;
                }

                .icon {
                    font-size: 25px;
                    -webkit-text-stroke: 2px;
                    color: var(--bs-secondary-01);
                    transition: all 0.3s;
                }

                &:hover {
                    background-color: var(--bs-secondary-01);

                    .icon {
                        color: var(--bs-secondary-03);
                    }
                }
            }
        }
    }
}

/* **********************************
   *********Header Section End*******
   ********************************** */