/* **********************************
   *******Header Section Start*******
   ********************************** */
.header-main {
  padding-top: 35px;
}
.header-main .container .header-inr .logo-main .logo-otr .logo-img {
  width: 260px;
  height: 55px;
  object-fit: contain;
}
@media (max-width: 1400px) {
  .header-main .container .header-inr .logo-main .logo-otr .logo-img {
    width: 220px;
  }
}
.header-main .container .header-inr .menu-action {
  gap: 0 45px;
}
@media (max-width: 1400px) {
  .header-main .container .header-inr .menu-action {
    gap: 0 35px;
  }
}
.header-main .container .header-inr .menu-action .menu-otr .menu-ul {
  gap: 0 45px;
}
@media (max-width: 1400px) {
  .header-main .container .header-inr .menu-action .menu-otr .menu-ul {
    gap: 0 35px;
  }
}
.header-main .container .header-inr .menu-action .menu-otr .menu-ul .menu-li .menu-a {
  position: relative;
  color: var(--bs-primary-03);
  transition: all 0.3s;
}
.header-main .container .header-inr .menu-action .menu-otr .menu-ul .menu-li .menu-a::after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--bs-primary-03);
  position: absolute;
  bottom: 2px;
  left: 0;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
}
.header-main .container .header-inr .menu-action .menu-otr .menu-ul .menu-li .menu-a:hover::after {
  width: 100%;
  visibility: visible;
  opacity: 1;
}

/* **********************************
   *********Header Section End*******
   ********************************** */