.header-main {
  padding-top: 21px;
}
.header-main .container .header-inr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-main .container .header-inr .logo-main .logo-otr .logo-img {
  width: 260px;
  height: 55px;
  object-fit: contain;
}
.header-main .container .header-inr .menu-action {
  display: flex;
  gap: 0 45px;
  align-items: center;
}
.header-main .container .header-inr .menu-action .menu-otr .menu-ul {
  display: flex;
  gap: 0 45px;
  align-items: center;
}
.header-main .container .header-inr .menu-action .menu-otr .menu-ul .menu-li .menu-a {
  color: var(--primary03);
  transition: all 0.3s;
  position: relative;
}
.header-main .container .header-inr .menu-action .menu-otr .menu-ul .menu-li .menu-a::after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--primary03);
  transition: all 0.3s;
  position: absolute;
  bottom: 2px;
  left: 0;
  visibility: hidden;
  opacity: 0;
}
.header-main .container .header-inr .menu-action .menu-otr .menu-ul .menu-li .menu-a:hover::after {
  width: 100%;
  visibility: visible;
  opacity: 1;
}
.header-main .container .header-inr .menu-action .action-otr .login {
  display: flex;
}