.header-main {
    padding-top: 21px;

    .container {
        .header-inr {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo-main {
                .logo-otr {
                    .logo-img {
                        width: 260px;
                        height: 55px;
                        object-fit: contain;
                    }
                }
            }

            .menu-action {
                display: flex;
                gap: 0 45px;
                align-items: center;

                .menu-otr {
                    .menu-ul {
                        display: flex;
                        gap: 0 45px;
                        align-items: center;

                        .menu-li {
                            .menu-a {
                                color: var(--primary03);
                            }
                        }
                    }
                }

                .action-otr {
                    .login {
                        display: flex;
                    }
                }
            }
        }
    }
}