.protected {
    .container {
        .protected-inr {
            .wrapper {
                padding-top: 100px;
                width: 700px;
                max-width: 100%;

                @media (max-width: 767.98px) {
                    padding-top: 60px;
                }

                @media (max-width: 420px) {
                    padding-top: 30px;
                }

                .heading {
                    color: var(--bs-primary-03);
                }

                .desc {
                    margin-top: 14px;
                    color: var(--bs-secondary-01);
                }
            }

            .content-otr {
                margin-top: 110px;
                padding-block: 118px 180px;
                position: relative;

                @media (max-width: 991.98px) {
                    padding-bottom: 150px;
                }

                @media (max-width: 767.98px) {
                    margin-top: 90px;
                    padding-block: 90px;
                }

                @media (max-width: 575.98px) {
                    margin-block: 50px;
                    padding-block: 50px;
                }

                .page-password-otr {
                    .page-password-inr {
                        position: relative;
                        width: 62%;
                        margin-inline: auto;
                        border-radius: 30px;
                        padding: 92px 112px;
                        box-shadow: 40px 48px 105px #ebebeb90;
                        border: 1px solid transparent;
                        background: linear-gradient(var(--bs-white), var(--bs-white)) padding-box,
                            linear-gradient(0deg, var(--bs-tint7-grey), var(--bs-white)) border-box;

                        @media (max-width: 1400px) {
                            width: 72%;
                        }

                        @media (max-width: 991.98px) {
                            width: 85%;
                            padding: 72px 90px;
                        }

                        @media (max-width: 767.98px) {
                            width: calc(100% - 80px);
                            padding: 42px 50px;
                        }

                        @media (max-width: 420px) {
                            width: calc(100% - 40px);
                            padding: 35px;
                        }

                        .heading {
                            color: var(--bs-primary-03);

                            @media (max-width: 420px) {
                                font-size: 40px;
                            }
                        }

                        .desc {
                            margin-block: 25px 15px;
                            font-size: 22px;
                            color: var(--bs-secondary-01);

                            @media (max-width: 767.98px) {
                                font-size: 18px;
                            }

                            @media (max-width: 420px) {
                                font-size: 16px;
                            }
                        }

                        .form-otr {
                            .input-main {
                                .input-password {
                                    padding: 31px;
                                    background-color: var(--bs-white);
                                    border: 1px solid #d3d3d3;
                                    border-radius: 15px;
                                    width: 100%;
                                    color: var(--bs-secondary-01);
                                    margin-bottom: 40px;

                                    @media (max-width: 991.98px) {
                                        padding: 25px;
                                        margin-bottom: 20px;
                                        border-radius: 8px;
                                    }

                                    @media (max-width: 575.98px) {
                                        padding: 18px;
                                    }

                                    &:focus {
                                        outline: none;
                                    }
                                }

                                .action-otr {
                                    display: flex;
                                    justify-content: center;

                                    .action-btn {
                                        background-color: transparent;

                                        @media (max-width: 575.98px) {
                                            padding: 12px 22px;
                                        }
                                    }
                                }
                            }
                        }

                    }
                }

                &::after {
                    content: "";
                    width: 100%;
                    height: 533px;
                    background-image: linear-gradient(to right, #7de9fe, #82fbed);
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 30px;
                    z-index: -2;
                }

                @media (max-width: 767.98px) {
                    &::after {
                        height: 100%;
                    }
                }
            }
        }
    }
}