@charset "UTF-8";
.header-main {
  padding-top: 21px;
}
.header-main .container .header-inr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-main .container .header-inr .logo-main .logo-otr .logo-img {
  width: 260px;
  height: 55px;
  object-fit: contain;
}
.header-main .container .header-inr .menu-action {
  display: flex;
  gap: 0 45px;
  align-items: center;
}
.header-main .container .header-inr .menu-action .menu-otr .menu-ul {
  display: flex;
  gap: 0 45px;
  align-items: center;
}
.header-main .container .header-inr .menu-action .menu-otr .menu-ul .menu-li .menu-a {
  color: var(--primary03);
}
.header-main .container .header-inr .menu-action .action-otr .login {
  display: flex;
}

.footer {
  background-color: var(--primary03);
  padding-top: 124px;
}
.footer .container .footer-inr .logo-icon-otr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .container .footer-inr .logo-icon-otr .logo-main .logo-otr .logo {
  width: 260px;
  height: 55px;
  object-fit: contain;
}
.footer .container .footer-inr .logo-icon-otr .social-otr .social-ul {
  gap: 0 27px;
}
.footer .container .footer-inr .logo-icon-otr .social-otr .social-ul .social-li .social-a .icon {
  font-size: 20px;
  color: var(--white);
}
.footer .container .footer-inr .row {
  position: relative;
  align-items: baseline;
  margin-block: 56px;
}
.footer .container .footer-inr .row .col-links-otr {
  display: flex;
  gap: 0 24px;
  justify-content: space-between;
  align-items: flex-start;
}
.footer .container .footer-inr .row .col-links-otr .col-link-otr .col-link-inr .heading {
  color: var(--white);
}
.footer .container .footer-inr .row .col-links-otr .col-link-otr .col-link-inr .link-ul {
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  gap: 11px 0px;
}
.footer .container .footer-inr .row .col-links-otr .col-link-otr .col-link-inr .link-ul .link-li .link-a {
  color: var(--white);
  transition: all 0.3s;
}
.footer .container .footer-inr .row .col-links-otr .col-link-otr:not(:last-child) .col-link-inr .link-ul .link-li .link-a:hover {
  color: var(--lightblue2);
}
.footer .container .footer-inr .row .col-links-otr .col-link-otr:last-child .col-link-inr .link-ul {
  display: flex;
  flex-direction: column;
  gap: 22px 0;
}
.footer .container .footer-inr .row .col-links-otr .col-link-otr:last-child .col-link-inr .link-ul .link-li {
  padding: 19px 21px;
  border: 1px solid transparent;
  background: linear-gradient(var(--primary03), var(--primary03)) padding-box, linear-gradient(90deg, rgba(224, 224, 224, 0), #e0e0e0) border-box;
  border-radius: 20px;
}
.footer .container .footer-inr .row .col-news-otr .col-news-inr .heading-otr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .container .footer-inr .row .col-news-otr .col-news-inr .heading-otr .heading {
  color: var(--white);
}
.footer .container .footer-inr .row .col-news-otr .col-news-inr .heading-otr .icon-otr .icon-a {
  padding: 14px 16px;
  border: 1px solid var(--secondary05);
  border-radius: 100%;
}
.footer .container .footer-inr .row .col-news-otr .col-news-inr .heading-otr .icon-otr .icon-a .icon {
  color: var(--white);
  font-size: 12px;
  -webkit-text-stroke: 0.5px;
}
.footer .container .footer-inr .row .col-news-otr .col-news-inr .content-otr .content-inr {
  margin-top: 62px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}
.footer .container .footer-inr .row .col-news-otr .col-news-inr .content-otr .content-inr .img-otr {
  width: 100%;
  height: 246px;
}
.footer .container .footer-inr .row .col-news-otr .col-news-inr .content-otr .content-inr .img-otr .news-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.3s;
}
.footer .container .footer-inr .row .col-news-otr .col-news-inr .content-otr .content-inr .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.footer .container .footer-inr .row .col-news-otr .col-news-inr .content-otr .content-inr .overlay .action-btn {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  padding: 14px 44px;
  color: var(--primary03);
  background-color: rgba(255, 255, 255, 0.7490196078);
  border-radius: 5px;
  transition: all 0.3s;
}
.footer .container .footer-inr .row .col-news-otr .col-news-inr .content-otr .content-inr:hover .img-otr .news-img {
  transform: scale(1.1);
}
.footer .container .footer-inr .row .col-news-otr .col-news-inr .content-otr .content-inr:hover .overlay {
  visibility: visible;
  opacity: 1;
}
.footer .container .footer-inr .row .col-news-otr .col-news-inr .content-otr .content-inr:hover .overlay .action-btn {
  top: 50%;
  transform: translate(-50%, -50%);
}
.footer .container .footer-inr .row::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--secondary05);
  position: absolute;
  top: -13px;
  left: 0;
}
.footer .container .footer-inr .row::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--secondary05);
  position: absolute;
  top: 64px;
  left: 0;
}
.footer .container .footer-inr .copyright-otr {
  padding-block: 27px 12px;
  position: relative;
}
.footer .container .footer-inr .copyright-otr .text {
  color: var(--white);
}
.footer .container .footer-inr .copyright-otr .text .link {
  color: var(--white);
}
.footer .container .footer-inr .copyright-otr .text .link:hover {
  color: var(--lightblue2);
}
.footer .container .footer-inr .copyright-otr::before {
  content: "";
  width: 100%;
  height: 1px;
  border: 1px solid var(--secondary05);
  position: absolute;
  top: 0;
  left: 0;
}

html {
  --primary01: #49deff;
  --primary02: #4fffdf;
  --primary03: #303030;
  --secondary01: #4e4e4e;
  --secondary02: #dedede;
  --secondary03: #f4f4f4;
  --secondary04: #f9f9f9;
  --secondary05: #4a4a4a;
  --yellow: #ffb545;
  --skin-red: #fad7c9;
  --pink: #ffe2ed;
  --green: #e4f4e6;
  --light-pink: #f5c9e9;
  --white: #ffffff;
  --aqua: #b1e8f2;
  --aqua: #4be3eb;
  --light-red: #ff5454;
  --lightgreen1: #2fcf3f;
  --ligthgreen2: #47dd56;
  --lightblue1: #1eb1e5;
  --lightblue2: #47cfff;
  --grey: #c1c1c1;
  --grey2: #bebebe;
  --seaBlue: #4be3eb;
}

body {
  counter-reset: htw;
}

.header-hero {
  position: relative;
}
.header-hero .hero {
  position: relative;
}
.header-hero .hero .container .hero-inr {
  position: relative;
}
.header-hero .hero .container .hero-inr .col-content-otr .col-content-inr {
  padding-top: 120px;
}
.header-hero .hero .container .hero-inr .col-content-otr .col-content-inr .heading {
  color: var(--primary03);
}
.header-hero .hero .container .hero-inr .col-content-otr .col-content-inr > .desc {
  padding-block: 21px 34px;
  color: var(--secondary01);
}
.header-hero .hero .container .hero-inr .col-content-otr .col-content-inr .action-main {
  padding-block: 0px 76px;
  display: flex;
  gap: 0 36px;
  align-items: center;
}
.header-hero .hero .container .hero-inr .col-content-otr .col-content-inr .action-main .action-otr {
  display: flex;
}
.header-hero .hero .container .hero-inr .col-content-otr .col-content-inr .action-main .action-otr .how-it-works {
  background-color: var(--white);
  color: var(--primary03);
}
.header-hero .hero .container .hero-inr .col-content-otr .col-content-inr .five-star-otr .five-star-inr {
  position: relative;
  padding-block: 56px;
}
.header-hero .hero .container .hero-inr .col-content-otr .col-content-inr .five-star-otr .five-star-inr .pattern-otr .pattern-img {
  width: 42px;
  height: 118px;
}
.header-hero .hero .container .hero-inr .col-content-otr .col-content-inr .five-star-otr .five-star-inr .pattern-otr:first-child {
  padding-right: 22px;
}
.header-hero .hero .container .hero-inr .col-content-otr .col-content-inr .five-star-otr .five-star-inr .pattern-otr:last-child {
  padding-right: 22px;
  transform: rotateY(180deg);
}
.header-hero .hero .container .hero-inr .col-content-otr .col-content-inr .five-star-otr .five-star-inr .badge-otr .badge-img {
  margin-right: 22px;
  width: 109px;
  height: 140px;
  object-fit: contain;
}
.header-hero .hero .container .hero-inr .col-content-otr .col-content-inr .five-star-otr .five-star-inr .content-otr {
  padding-left: 22px;
  position: relative;
}
.header-hero .hero .container .hero-inr .col-content-otr .col-content-inr .five-star-otr .five-star-inr .content-otr .desc {
  margin-block: 5px 7px;
}
.header-hero .hero .container .hero-inr .col-content-otr .col-content-inr .five-star-otr .five-star-inr .content-otr .rating-otr .icon-otr .icon {
  font-size: 25px;
  color: var(--yellow);
}
.header-hero .hero .container .hero-inr .col-content-otr .col-content-inr .five-star-otr .five-star-inr .content-otr .rating-otr .icon-otr:not(:last-child) {
  margin-right: 8px;
}
.header-hero .hero .container .hero-inr .col-content-otr .col-content-inr .five-star-otr .five-star-inr .content-otr::before {
  content: "";
  width: 1px;
  height: 100%;
  background-color: var(--grey);
  position: absolute;
  left: 0;
  top: 0;
}
.header-hero .hero .container .hero-inr .col-content-otr .col-content-inr .five-star-otr .five-star-inr::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--secondary02);
  position: absolute;
  top: 0;
  left: 0;
}
.header-hero .hero .container .hero-inr .col-img-otr {
  position: absolute;
  top: 0;
  right: 0;
  height: 859px;
}
.header-hero .hero .container .hero-inr .col-img-otr .hero-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header-hero .hero .container .hero-inr::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--secondary02);
  position: absolute;
  bottom: 0;
  left: 0;
}
.header-hero::after {
  content: url("../img/hero-vector.png");
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.explore-feature {
  padding-block: 120px 89px;
}
.explore-feature .container .explore-feature-inr .wrapper {
  width: 800px;
  max-width: 100%;
}
.explore-feature .container .explore-feature-inr .wrapper .heading {
  color: var(--primary03);
}
.explore-feature .container .explore-feature-inr .wrapper .desc {
  margin-top: 14px;
  color: var(--secondary01);
}
.explore-feature .container .explore-feature-inr .row {
  margin-top: 29px;
  gap: 0 20px;
}
.explore-feature .container .explore-feature-inr .row .col-card-otr .col-card-inr {
  background-color: var(--secondary03);
  border-radius: 10px;
  padding: 50px 47px;
  transition: all 0.4s;
}
.explore-feature .container .explore-feature-inr .row .col-card-otr .col-card-inr .icon-otr {
  width: 62px;
  height: 62px;
  position: relative;
  z-index: 1;
}
.explore-feature .container .explore-feature-inr .row .col-card-otr .col-card-inr .icon-otr .icon {
  fill: #000000;
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
}
.explore-feature .container .explore-feature-inr .row .col-card-otr .col-card-inr .icon-otr::after {
  content: "";
  width: 43px;
  height: 43px;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: -1;
}
.explore-feature .container .explore-feature-inr .row .col-card-otr .col-card-inr .icon-otr-1:after {
  background-color: var(--aqua);
}
.explore-feature .container .explore-feature-inr .row .col-card-otr .col-card-inr .icon-otr-1 + .heading {
  transition: all 0.3s;
}
.explore-feature .container .explore-feature-inr .row .col-card-otr .col-card-inr .icon-otr-1 + .heading:hover {
  color: var(--aqua);
}
.explore-feature .container .explore-feature-inr .row .col-card-otr .col-card-inr .icon-otr-2::after {
  background-color: var(--skin-red);
}
.explore-feature .container .explore-feature-inr .row .col-card-otr .col-card-inr .icon-otr-2 + .heading {
  transition: all 0.3s;
}
.explore-feature .container .explore-feature-inr .row .col-card-otr .col-card-inr .icon-otr-2 + .heading:hover {
  color: var(--skin-red);
}
.explore-feature .container .explore-feature-inr .row .col-card-otr .col-card-inr .icon-otr-3::after {
  background-color: var(--light-pink);
}
.explore-feature .container .explore-feature-inr .row .col-card-otr .col-card-inr .icon-otr-3 + .heading {
  transition: all 0.3s;
}
.explore-feature .container .explore-feature-inr .row .col-card-otr .col-card-inr .icon-otr-3 + .heading:hover {
  color: var(--light-pink);
}
.explore-feature .container .explore-feature-inr .row .col-card-otr .col-card-inr .heading {
  margin-top: 20px;
  color: var(--primary03);
}
.explore-feature .container .explore-feature-inr .row .col-card-otr .col-card-inr .desc {
  margin-top: 5px;
  color: var(--secondary01);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.explore-feature .container .explore-feature-inr .row .col-card-otr .col-card-inr:hover {
  background-color: var(--white);
  box-shadow: 0 28px 57px rgba(190, 190, 190, 0.1450980392);
}

.lead-management {
  position: relative;
  padding-block: 110px;
}
.lead-management .container .row .col-img-otr .col-img-inr {
  position: relative;
}
.lead-management .container .row .col-img-otr .col-img-inr .img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  box-shadow: -33px 60px 72px rgba(155, 155, 155, 0.1254901961);
}
.lead-management .container .row .col-img-otr .col-img-inr::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
.lead-management .container .row .col-content-otr .col-content-inr {
  padding-left: 48px;
}
.lead-management .container .row .col-content-otr .col-content-inr .content-otr .heading {
  color: var(--primary03);
}
.lead-management .container .row .col-content-otr .col-content-inr .content-otr .desc {
  color: var(--secondary01);
}
.lead-management .container .row .col-content-otr .col-content-inr .cards-otr {
  margin-top: 30px;
}
.lead-management .container .row .col-content-otr .col-content-inr .cards-otr .card-ul {
  padding-left: 0px;
  gap: 30px 0;
  flex-direction: column;
}
.lead-management .container .row .col-content-otr .col-content-inr .cards-otr .card-ul .card-otr {
  position: relative;
  padding: 26px 23px 26px 64px;
  border: 1px solid transparent;
  background: linear-gradient(white, white) padding-box, linear-gradient(90deg, rgba(224, 224, 224, 0), #e0e0e0) border-box;
  border-radius: 30px;
}
.lead-management .container .row .col-content-otr .col-content-inr .cards-otr .card-ul .card-otr .heading {
  color: var(--primary03);
}
.lead-management .container .row .col-content-otr .col-content-inr .cards-otr .card-ul .card-otr .desc {
  color: var(--secondary01);
}
.lead-management .container .row .col-content-otr .col-content-inr .cards-otr .card-ul .card-otr::before {
  content: "";
  width: 21px;
  height: 21px;
  border-radius: 100%;
  background-color: var(--lightblue2);
  border: 1px solid var(--lightblue1);
  position: absolute;
  top: 37px;
  left: 23px;
}
.lead-management::before {
  content: url(../img/section-vector.png);
  transform: rotateX(180deg) rotateZ(180deg);
  max-width: 100%;
  height: 90%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.project-management {
  position: relative;
  margin-top: 60px;
  padding-block: 110px;
}
.project-management .container .row .col-content-otr .col-content-inr {
  padding-right: 48px;
}
.project-management .container .row .col-content-otr .col-content-inr > .content-otr .heading {
  color: var(--primary03);
  margin-bottom: 17px;
}
.project-management .container .row .col-content-otr .col-content-inr > .content-otr .desc {
  color: var(--secondary01);
}
.project-management .container .row .col-content-otr .col-content-inr .cards-otr {
  margin-block: 55px;
}
.project-management .container .row .col-content-otr .col-content-inr .cards-otr .card-ul .card-otr .icon-otr {
  width: 95px;
  height: 45px;
}
.project-management .container .row .col-content-otr .col-content-inr .cards-otr .card-ul .card-otr .icon-otr .icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.project-management .container .row .col-content-otr .col-content-inr .cards-otr .card-ul .card-otr .content-otr .heading {
  margin-block: 10px;
  color: var(--primary03);
}
.project-management .container .row .col-content-otr .col-content-inr .cards-otr .card-ul .card-otr .content-otr .desc {
  color: var(--secondary01);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.project-management .container .row .col-img-otr .col-img-inr {
  position: relative;
}
.project-management .container .row .col-img-otr .col-img-inr .img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  box-shadow: 40px 48px 105px rgba(155, 155, 155, 0.1254901961);
}
.project-management .container .row .col-img-otr .col-img-inr::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 30px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}
.project-management::before {
  content: url(../img/section-vector.png);
  max-width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.client-logos .container .client-logos-inr .wrapper {
  width: 800px;
  max-width: 100%;
  margin-bottom: 30px;
}
.client-logos .container .client-logos-inr .wrapper .heading {
  color: var(--primary03);
  margin-bottom: 9px;
}
.client-logos .container .client-logos-inr .wrapper .desc {
  color: var(--secondary01);
}
.client-logos .container .client-logos-inr .client-logo .swiper .swiper-wrapper .swiper-slide {
  padding: 20px 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #c5c5c5;
}
.client-logos .container .client-logos-inr .client-logo .swiper .swiper-wrapper .swiper-slide .logo-otr {
  width: 159px;
  height: 80px;
}
.client-logos .container .client-logos-inr .client-logo .swiper .swiper-wrapper .swiper-slide .logo-otr .logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.client-logos .container .client-logos-inr .client-logo .swiper:not(:last-child) {
  border-bottom: 1px solid #c5c5c5;
}

.newsletter {
  padding-block: 91px 147px;
}
.newsletter .container .newsletter-inr {
  position: relative;
  padding: 126px 115px 0px 115px;
}
.newsletter .container .newsletter-inr::after {
  content: "";
  width: 100%;
  height: 800px;
  position: absolute;
  background: conic-gradient(from -20deg, var(--primary03), #141414);
  top: 0;
  left: 0;
  border-radius: 30px;
  z-index: -1;
}
.newsletter .container .newsletter-inr .row .col-content-otr .heading {
  color: var(--white);
  margin-bottom: 9px;
}
.newsletter .container .newsletter-inr .row .col-content-otr .desc {
  color: var(--white);
}
.newsletter .container .newsletter-inr .row .col-contact-otr .heading {
  color: var(--white);
  margin-bottom: 18px;
}
.newsletter .container .newsletter-inr .row .col-contact-otr .form-main {
  display: flex;
  gap: 0 9px;
  align-items: center;
}
.newsletter .container .newsletter-inr .row .col-contact-otr .form-main .input-otr .input-email {
  padding: 22px;
  border: none;
  border-radius: 5px;
  background-color: var(--white);
}
.newsletter .container .newsletter-inr .row .col-contact-otr .form-main .input-otr .input-email:hover {
  outline: none;
}
.newsletter .container .newsletter-inr .row .col-contact-otr .form-main .input-otr .input-email::placeholder {
  color: var(--grey2);
}
.newsletter .container .newsletter-inr .row .col-contact-otr .form-main .action-otr .input-submit {
  padding: 22px 53px;
  border: none;
  border-radius: 5px;
  background-color: var(--seaBlue);
  color: var(--primary03);
}
.newsletter .container .newsletter-inr .row .col-contact-otr .form-main .action-otr .input-submit :hover {
  outline: none;
}
.newsletter .container .newsletter-inr .row .col-contact-otr .form-main .action-otr .input-submit ::placeholder {
  color: var(--grey2);
}
.newsletter .container .newsletter-inr .dashboard-otr {
  position: relative;
}
.newsletter .container .newsletter-inr .dashboard-otr .dashboard-img {
  width: 100%;
  height: 100%;
  margin-top: 85px;
  border-radius: 30px;
  border: 1px solid transparent;
  background: linear-gradient(transparent, transparent) padding-box, linear-gradient(0deg, #d1d1d1, var(--white)) border-box;
  backdrop-filter: blur(62px);
}
.newsletter .container .newsletter-inr .dashboard-otr::after {
  content: "";
  box-shadow: 20px 28px 85px #ebebeb;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.products .container .products-inr .wrapper {
  width: 800px;
  max-width: 100%;
}
.products .container .products-inr .wrapper .heading {
  color: var(--primary03);
  margin-top: 10px;
}
.products .container .products-inr .wrapper .desc {
  color: var(--secondary01);
}
.products .container .products-inr .row {
  margin-top: 56px;
  background-color: var(--secondary04);
  border-radius: 30px;
  outline-offset: 7px;
  outline: 3px dashed #dbdbdb;
  padding: 57px 4px;
}
.products .container .products-inr .row .col-product-otr .col-product-inr .feature-otr {
  margin-top: 33px;
}
.products .container .products-inr .row .col-product-otr .col-product-inr .feature-otr .feature-ul {
  display: flex;
  flex-direction: column;
  gap: 33px 0;
}
.products .container .products-inr .row .col-product-otr .col-product-inr .feature-otr .feature-ul .feature-li {
  display: flex;
  gap: 0 23px;
  align-items: center;
}
.products .container .products-inr .row .col-product-otr .col-product-inr .feature-otr .feature-ul .feature-li .icon-otr {
  padding: 14px;
  border-radius: 100%;
}
.products .container .products-inr .row .col-product-otr .col-product-inr .feature-otr .feature-ul .feature-li .icon-otr .icon {
  width: 26px;
  height: 26px;
}
.products .container .products-inr .row .col-product-otr .col-product-inr .feature-otr .feature-ul .feature-li .content-otr .heading {
  color: var(--primary03);
}
.products .container .products-inr .row .col-product-otr .col-product-inr .feature-otr .feature-ul .feature-li .content-otr .desc {
  color: var(--secondary01);
}
.products .container .products-inr .row .prod-1 .col-product-inr .feature-otr .feature-ul .feat-1 .icon-otr {
  background-color: #ededff;
}
.products .container .products-inr .row .prod-1 .col-product-inr .feature-otr .feature-ul .feat-2 .icon-otr {
  background-color: var(--pink);
}
.products .container .products-inr .row .prod-1 .col-product-inr .feature-otr .feature-ul .feat-3 .icon-otr {
  background-color: var(--green);
}
.products .container .products-inr .row .prod-2 .col-product-inr .feature-otr .feature-ul .feat-1 .icon-otr {
  background-color: #fff1db;
}
.products .container .products-inr .row .prod-2 .col-product-inr .feature-otr .feature-ul .feat-2 .icon-otr {
  background-color: #dff3f2;
}
.products .container .products-inr .row .prod-2 .col-product-inr .feature-otr .feature-ul .feat-3 .icon-otr {
  background-color: #d5f2fc;
}
.products .container .products-inr .row .prod-3 .col-product-inr .feature-otr .feature-ul .feat-1 .icon-otr {
  background-color: #ffe4e4;
}
.products .container .products-inr .row .prod-3 .col-product-inr .feature-otr .feature-ul .feat-2 .icon-otr {
  background-color: #f4e5ff;
}
.products .container .products-inr .row .prod-3 .col-product-inr .feature-otr .feature-ul .feat-3 .icon-otr {
  background-color: #ffe7df;
}
.products .container .products-inr .row .prod-3 .col-product-inr .feature-otr .feature-ul .feat-4 .icon-otr {
  background-color: #ffdef2;
}

.how-it-work {
  position: relative;
  padding-block: 136px 111px;
}
.how-it-work .container .how-it-work-inr .col-content-otr {
  padding-right: 63px;
}
.how-it-work .container .how-it-work-inr .col-content-otr .col-content-inr .heading {
  color: var(--primary03);
}
.how-it-work .container .how-it-work-inr .col-content-otr .col-content-inr .desc {
  columns: var(--secondary01);
}
.how-it-work .container .how-it-work-inr .col-content-otr .col-content-inr .cards-otr {
  margin-top: 30px;
}
.how-it-work .container .how-it-work-inr .col-content-otr .col-content-inr .cards-otr .card-ul {
  gap: 17px 0;
  flex-direction: column;
}
.how-it-work .container .how-it-work-inr .col-content-otr .col-content-inr .cards-otr .card-ul .card-otr {
  position: relative;
  padding: 26px 23px 26px 64px;
  border: 1px solid transparent;
  background: linear-gradient(white, white) padding-box, linear-gradient(90deg, rgba(224, 224, 224, 0), #e0e0e0) border-box;
  border-radius: 30px;
}
.how-it-work .container .how-it-work-inr .col-content-otr .col-content-inr .cards-otr .card-ul .card-otr .heading {
  color: var(--primary03);
}
.how-it-work .container .how-it-work-inr .col-content-otr .col-content-inr .cards-otr .card-ul .card-otr .desc {
  color: var(--secondary01);
}
.how-it-work .container .how-it-work-inr .col-content-otr .col-content-inr .cards-otr .card-ul .card-otr::before {
  counter-increment: htw;
  content: "0" counter(htw);
  position: absolute;
  top: 26px;
  left: 0;
  font: 40px/133.2% "Jost-SemiBold";
  color: var(--lightblue2);
}
.how-it-work .col-img-otr {
  width: 50%;
  height: fit-content;
  position: absolute;
  top: 55%;
  transform: translateY(-55%);
  right: 0;
  border-radius: 30px 0px 0px 30px;
  overflow: hidden;
}
.how-it-work .col-img-otr .work-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.testimonials {
  background-color: var(--primary03);
}
.testimonials .container .testimonials-inr {
  padding-block: 144px;
  position: relative;
}
.testimonials .container .testimonials-inr .users-otr {
  margin-bottom: 165px;
  position: relative;
}
.testimonials .container .testimonials-inr .users-otr .swiper .user-otr .profile-otr {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testimonials .container .testimonials-inr .users-otr .swiper .user-otr .profile-otr .img-otr {
  display: flex;
  justify-content: center;
}
.testimonials .container .testimonials-inr .users-otr .swiper .user-otr .profile-otr .img-otr .user-img {
  width: 202px;
  height: 202px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2509803922));
}
.testimonials .container .testimonials-inr .users-otr .swiper .user-otr .profile-otr .text {
  margin-top: 24px;
}
.testimonials .container .testimonials-inr .users-otr .swiper .user-otr .profile-otr .text .heading {
  position: relative;
  color: var(--white);
  transition: all 0.3s;
}
.testimonials .container .testimonials-inr .users-otr .swiper .user-otr .profile-otr .text .heading::before {
  content: "〝";
  color: var(--white);
  position: absolute;
  width: 30px;
  height: 24px;
  top: -10px;
  left: -40px;
}
.testimonials .container .testimonials-inr .users-otr .swiper .user-otr .profile-otr .text .heading:hover {
  color: var(--lightblue2);
}
.testimonials .container .testimonials-inr .users-otr .swiper .user-otr .profile-otr .text .designation {
  color: var(--white);
}
.testimonials .container .testimonials-inr .users-otr .swiper .user-otr .rating-otr {
  margin-block: 20px;
  gap: 0 10px;
  justify-content: center;
}
.testimonials .container .testimonials-inr .users-otr .swiper .user-otr .rating-otr .icon-otr .icon {
  color: var(--yellow);
  font-size: 28px;
}
.testimonials .container .testimonials-inr .users-otr .swiper .user-otr .user-desc {
  color: var(--white);
  width: 50%;
  margin-inline: auto;
}
.testimonials .container .testimonials-inr .users-otr .swiper .user-otr .user-desc .text-inr {
  color: var(--lightblue2);
  font-family: OpenSans-Bold;
}
.testimonials .container .testimonials-inr .users-otr .swiper .swiper-nav {
  padding: 35px;
  background-color: #454545;
  border-radius: 100%;
  font-size: 40px;
  color: var(--white);
  outline-offset: 8px;
  outline: 1px solid var(--white);
}
.testimonials .container .testimonials-inr .users-otr .swiper .swiper-nav::after {
  content: none;
}
.testimonials .container .testimonials-inr .users-otr .swiper .swiper-button-next {
  margin-right: 15px;
}
.testimonials .container .testimonials-inr .users-otr .swiper .swiper-button-prev {
  margin-left: 15px;
}
.testimonials .container .testimonials-inr .users-otr::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #999999;
  position: absolute;
  bottom: -115px;
  left: 0;
}
.testimonials .container .testimonials-inr .counter-otr .row .col-stat-otr .heading {
  color: var(--white);
}
.testimonials .container .testimonials-inr .counter-otr .row .col-stat-otr .desc {
  color: var(--white);
}
.testimonials .container .testimonials-inr .counter-otr .row .stat-1 .heading .heading-inr {
  color: var(--lightblue2);
}
.testimonials .container .testimonials-inr .counter-otr .row .stat-2 .heading .heading-inr {
  color: var(--yellow);
}
.testimonials .container .testimonials-inr .counter-otr .row .stat-3 .heading .heading-inr {
  color: var(--ligthgreen2);
}
.testimonials .container .testimonials-inr .counter-otr .row .stat-4 .heading .heading-inr {
  color: var(--light-red);
}
.testimonials .container .testimonials-inr::after {
  content: "";
  background: url(/assets/img/brick-Pattern.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 441px;
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -3%);
}

.pricing {
  padding: 100px 152px;
}
.pricing .container .pricing-inr .wrapper {
  width: 800px;
  max-width: 100%;
  margin-bottom: 36px;
}
.pricing .container .pricing-inr .wrapper .heading {
  color: var(--primary03);
  margin-bottom: 14px;
}
.pricing .container .pricing-inr .wrapper .desc {
  color: var(--secondary01);
}
.pricing .container .pricing-inr .content-otr {
  position: relative;
  padding: 118px 95px 0px;
  gap: 0 40px;
}
.pricing .container .pricing-inr .content-otr::after {
  content: "";
  width: 100%;
  height: 533px;
  position: absolute;
  border-radius: 30px;
  background-image: conic-gradient(var(--primary02), var(--primary01));
  top: 0;
  left: 0;
  z-index: -1;
}
.pricing .container .pricing-inr .content-otr .price-deal .icon-heading {
  padding: 0 0 10px 59px;
  align-items: center;
  gap: 0 8px;
}
.pricing .container .pricing-inr .content-otr .price-deal .icon-heading .icon-otr {
  padding: 16px;
  border-radius: 100%;
  display: flex;
}
.pricing .container .pricing-inr .content-otr .price-deal .icon-heading .icon-otr .icon {
  width: 25px;
  height: 25px;
}
.pricing .container .pricing-inr .content-otr .price-deal .icon-heading .heading {
  color: var(--primary03);
}
.pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr {
  border-radius: 30px;
  background-color: var(--white);
  box-shadow: 0px 28px 57px rgba(190, 190, 190, 0.1450980392);
  padding: 62px;
}
.pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr .heading {
  color: var(--primary03);
}
.pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr > .desc {
  text-align: justify;
  color: var(--primary03);
  padding-block: 23px 34px;
  border-bottom: 1px solid #cccccc;
}
.pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr > .desc .text-inr {
  font-family: "OpenSans-Bold";
}
.pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr .feature-ul {
  padding-block: 21px 33px;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}
.pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr .feature-ul .feature-li {
  gap: 0 17px;
  align-items: center;
  color: var(--secondary01);
}
.pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr .feature-ul .feature-li .icon-otr .bi-check2 {
  color: var(--lightgreen1);
  font-size: 24px;
}
.pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr .feature-ul .feature-li .icon-otr .not-avail {
  color: #d0d0d0;
}
.pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr .feature-ul .feat-1 .text-inr,
.pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr .feature-ul .feat-7 .text-inr,
.pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr .feature-ul .feat-11 .text-inr {
  font-family: "OpenSans-Bold";
}
.pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr .feature-ul .feat-3 .text-inr {
  color: var(--yellow);
  font-family: "OpenSans-Bold";
}
.pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr .action-otr .action-btn {
  width: 100%;
  padding: 26px;
  background-color: #eaeaea;
  color: var(--primary03);
  border-radius: 15px;
  transition: all 0.3s;
}
.pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr .action-otr .action-btn:hover {
  background-color: var(--primary03);
  color: var(--white);
  box-shadow: 0px 28px 57px rgba(190, 190, 190, 0.1450980392);
}
.pricing .container .pricing-inr .content-otr .price-deal1 .icon-heading .icon-otr {
  background-color: var(--primary03);
}
.pricing .container .pricing-inr .content-otr .price-deal1 .icon-heading .icon-otr .icon {
  fill: none;
}
.pricing .container .pricing-inr .content-otr .price-deal2 .icon-heading .icon-otr {
  background-color: var(--white);
}
.pricing .container .pricing-inr .content-otr .price-deal2 .icon-heading .icon-otr .icon {
  fill: none;
}
.pricing .container .pricing-inr .content-otr .price-deal2 .card-otr .card-inr .price-icon .icon-svg {
  width: 67px;
  height: 67px;
}
.pricing .container .pricing-inr .content-otr .price-deal2 .card-otr .card-inr .price-icon .icon-svg .icon {
  width: 100%;
  height: 100%;
}