@charset "UTF-8";
/* **********************************
   ***********Mixins Start************
   ********************************** */
/* **********************************
   ************Mixin End*************
   ********************************** */
body {
  counter-reset: htw;
}

/* **********************************
   ***********Hero Section***********
   ********************************** */
.header-hero {
  position: relative;
}
.header-hero .hero {
  position: relative;
}
.header-hero .hero .container .hero-inr {
  position: relative;
}
.header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr {
  padding-top: 120px;
}
@media (max-width: 767.98px) {
  .header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr {
    padding-top: 90px;
  }
}
@media (max-width: 420px) {
  .header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr {
    padding-top: 50px;
  }
}
.header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr > .content-otr {
  padding-bottom: 76px;
  border-bottom: 1px solid var(--bs-secondary-02);
}
@media (max-width: 575.98px) {
  .header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr > .content-otr {
    padding-bottom: 50px;
  }
}
@media (max-width: 991.98px) {
  .header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr > .content-otr {
    text-align: center;
  }
}
.header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr > .content-otr .heading {
  color: var(--bs-primary-03);
}
.header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr > .content-otr .desc {
  margin-block: 21px 34px;
  color: var(--bs-secondary-01);
}
@media (max-width: 575.98px) {
  .header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr > .content-otr .desc {
    margin-block: 20px;
  }
}
.header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr > .content-otr .action-main {
  display: flex;
  gap: 0 36px;
  align-items: center;
}
@media (max-width: 991.98px) {
  .header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr > .content-otr .action-main {
    justify-content: center;
  }
}
@media (max-width: 420px) {
  .header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr > .content-otr .action-main {
    flex-direction: column;
  }
}
.header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr > .content-otr .action-main .action-otr {
  display: flex;
}
.header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr > .content-otr .action-main .action-otr .htw-btn {
  background-color: var(--bs-white);
  color: var(--bs-primary-03);
  position: relative;
  padding: 14px 38px;
  border-radius: 5px;
  background: transparent;
  overflow: hidden;
}
.header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr > .content-otr .action-main .action-otr .htw-btn::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--bs-tint1-seaBlue);
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.3s;
  z-index: -1;
}
.header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr > .content-otr .action-main .action-otr .htw-btn:hover::after {
  transform: scale(1);
}
.header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr .five-star-otr {
  display: flex;
  justify-content: center;
}
.header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr .five-star-otr .five-star-inr {
  position: relative;
  justify-content: space-between;
  width: 95%;
  padding: 56px;
}
@media (max-width: 991.98px) {
  .header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr .five-star-otr .five-star-inr {
    width: 521px;
  }
}
@media (max-width: 575.98px) {
  .header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr .five-star-otr .five-star-inr {
    width: fit-content;
    padding: 35px;
  }
}
.header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr .five-star-otr .five-star-inr .badge-otr .badge-img {
  margin-right: 28px;
  width: 109px;
  height: 140px;
  object-fit: contain;
}
@media (max-width: 575.98px) {
  .header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr .five-star-otr .five-star-inr .badge-otr .badge-img {
    width: 90px;
    height: 120px;
    margin-right: 16px;
  }
}
.header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr .five-star-otr .five-star-inr .content-otr {
  padding-left: 28px;
  position: relative;
}
@media (max-width: 575.98px) {
  .header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr .five-star-otr .five-star-inr .content-otr {
    padding-left: 16px;
  }
}
.header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr .five-star-otr .five-star-inr .content-otr .heading {
  color: var(--bs-primary-03);
}
@media (max-width: 420px) {
  .header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr .five-star-otr .five-star-inr .content-otr .heading {
    font-size: 25px;
  }
}
.header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr .five-star-otr .five-star-inr .content-otr .desc {
  margin-block: 5px;
  color: var(--bs-secondary-01);
}
@media (max-width: 420px) {
  .header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr .five-star-otr .five-star-inr .content-otr .desc {
    font-size: 16px;
  }
}
.header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr .five-star-otr .five-star-inr .content-otr .rating-otr .icon-otr .icon {
  font-size: 25px;
  color: var(--bs-tint-yellow);
}
.header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr .five-star-otr .five-star-inr .content-otr .rating-otr .icon-otr:not(:last-child) {
  margin-right: 8px;
}
.header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr .five-star-otr .five-star-inr .content-otr::before {
  content: "";
  width: 1px;
  height: 100%;
  background-color: var(--bs-tint5-grey);
  position: absolute;
  left: -4px;
  top: 0;
}
.header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr .five-star-otr .five-star-inr::before {
  content: "";
  background: url(/assets/img/5-star-pattern.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  width: 50px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr .five-star-otr .five-star-inr::after {
  content: "";
  background: url(/assets/img/5-star-pattern.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  width: 50px;
  height: 100%;
  transform: translateY(-50%) rotateY(180deg);
  position: absolute;
  top: 50%;
  right: 0;
}
@media (max-width: 575.98px) {
  .header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr .five-star-otr .five-star-inr::before, .header-hero .hero .container .hero-inr .row .col-content-otr .col-content-inr .five-star-otr .five-star-inr::after {
    width: 35px;
  }
}
.header-hero .hero .container .hero-inr .row .col-img-otr {
  position: absolute;
  top: 0;
  right: 0;
  height: 859px;
}
@media (max-width: 1400px) {
  .header-hero .hero .container .hero-inr .row .col-img-otr {
    height: 750px;
  }
}
@media (max-width: 1200px) {
  .header-hero .hero .container .hero-inr .row .col-img-otr {
    position: relative;
  }
}
.header-hero .hero .container .hero-inr .row .col-img-otr .hero-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header-hero .hero .container .hero-inr::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--bs-secondary-02);
  position: absolute;
  bottom: 0;
  left: 0;
}
.header-hero .hero .icons-otr .icon-otr .icon {
  position: absolute;
}
.header-hero .hero .icons-otr .icon-otr .plus-icon {
  font-size: 22px;
  color: var(--bs-tint9-grey);
}
.header-hero .hero .icons-otr .icon-otr .plus-icon-1 {
  top: 69px;
  left: 164px;
}
.header-hero .hero .icons-otr .icon-otr .plus-icon-2 {
  top: 40%;
  left: 45%;
  border: 1px solid red;
}
.header-hero .hero .icons-otr .icon-otr .circle-icon {
  font-size: 38px;
}
.header-hero .hero .icons-otr .icon-otr .circle-icon-1 {
  color: rgba(255, 255, 255, 0.3960784314);
  top: 34px;
  right: 150px;
}
.header-hero .hero .icons-otr .icon-otr .circle-icon-2 {
  color: #f5deba;
  bottom: 35%;
  left: 164px;
}
.header-hero .hero .icons-otr .icon-otr .play-icon {
  font-size: 54px;
  color: #dfdaff;
}
.header-hero .hero .icons-otr .icon-otr .play-icon-no {
  top: 32px;
  left: 40%;
  transform: rotateZ(20deg);
}
.header-hero .hero .icons-otr .icon-otr .play-icon-fill {
  font-size: 36px;
  color: #cfe8ea;
  transform: rotateZ(-30deg);
  bottom: 30%;
  left: 45%;
}
.header-hero::after {
  content: "";
  background: url(/assets/img/hero-vector.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 0%;
  width: 100%;
  height: 900px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
@media (max-width: 1400px) {
  .header-hero::after {
    height: 650px;
  }
}
@media (max-width: 991.98px) {
  .header-hero::after {
    height: 500px;
  }
}
@media (max-width: 575.98px) {
  .header-hero::after {
    height: 300px;
    top: -2%;
    transform: translateY(2%);
  }
}

/* **********************************
   *********Hero Section End*********
   ********************************** */
/* **********************************
   *******Explore Section Start******
   ********************************** */
.explore-feature {
  padding-block: 100px 89px;
}
@media (max-width: 575.98px) {
  .explore-feature {
    padding-block: 80px;
  }
}
.explore-feature .container .explore-feature-inr .wrapper {
  width: 800px;
  max-width: 100%;
}
.explore-feature .container .explore-feature-inr .wrapper .heading {
  color: var(--bs-primary-03);
}
@media (max-width: 420px) {
  .explore-feature .container .explore-feature-inr .wrapper .heading {
    font-size: 35px;
    line-height: 100%;
  }
}
@media (max-width: 320px) {
  .explore-feature .container .explore-feature-inr .wrapper .heading {
    font-size: 30px;
  }
}
.explore-feature .container .explore-feature-inr .wrapper .desc {
  margin-top: 14px;
  color: var(--bs-secondary-01);
}
@media (max-width: 575.98px) {
  .explore-feature .container .explore-feature-inr .wrapper .desc {
    margin-top: 8px;
  }
}
.explore-feature .container .explore-feature-inr .row {
  margin-top: 29px;
}
@media (max-width: 1200px) {
  .explore-feature .container .explore-feature-inr .row {
    gap: 32px 0;
    justify-content: center;
  }
}
.explore-feature .container .explore-feature-inr .row .col-card-otr:not(:last-child) {
  padding-right: 32px;
}
@media (max-width: 1200px) {
  .explore-feature .container .explore-feature-inr .row .col-card-otr:first-child {
    padding-right: 22px;
  }
  .explore-feature .container .explore-feature-inr .row .col-card-otr:nth-child(2) {
    padding-inline: 22px 12px;
  }
}
@media (max-width: 767.98px) {
  .explore-feature .container .explore-feature-inr .row .col-card-otr:first-child, .explore-feature .container .explore-feature-inr .row .col-card-otr:nth-child(2) {
    padding-inline: 12px;
  }
}
.explore-feature .container .explore-feature-inr .row .col-card-otr .col-card-inr {
  background-color: var(--bs-secondary-03);
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 50px 47px;
  transition: all 0.4s;
}
@media (max-width: 767.98px) {
  .explore-feature .container .explore-feature-inr .row .col-card-otr .col-card-inr {
    display: flex;
    gap: 32px;
    align-items: center;
  }
}
@media (max-width: 575.98px) {
  .explore-feature .container .explore-feature-inr .row .col-card-otr .col-card-inr {
    padding: 38px 32px;
  }
}
@media (max-width: 420px) {
  .explore-feature .container .explore-feature-inr .row .col-card-otr .col-card-inr {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }
}
@media (max-width: 320px) {
  .explore-feature .container .explore-feature-inr .row .col-card-otr .col-card-inr {
    padding: 28px 22px;
  }
}
.explore-feature .container .explore-feature-inr .row .col-card-otr .col-card-inr .icon-otr {
  width: 62px;
  height: 62px;
  position: relative;
  z-index: 1;
}
.explore-feature .container .explore-feature-inr .row .col-card-otr .col-card-inr .icon-otr .icon {
  fill: var(--bs-black);
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
}
@media (max-width: 575.98px) {
  .explore-feature .container .explore-feature-inr .row .col-card-otr .col-card-inr .icon-otr .icon {
    width: 48px;
    height: 48px;
  }
}
.explore-feature .container .explore-feature-inr .row .col-card-otr .col-card-inr .icon-otr::after {
  content: "";
  width: 43px;
  height: 43px;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: -1;
}
.explore-feature .container .explore-feature-inr .row .col-card-otr .col-card-inr .content-otr .heading {
  margin-block: 20px 5px;
  color: var(--bs-primary-03);
  transition: all 0.3s;
}
@media (max-width: 767.98px) {
  .explore-feature .container .explore-feature-inr .row .col-card-otr .col-card-inr .content-otr .heading {
    margin-top: 0;
  }
}
.explore-feature .container .explore-feature-inr .row .col-card-otr .col-card-inr .content-otr .desc {
  color: var(--bs-secondary-01);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.explore-feature .container .explore-feature-inr .row .col-card-otr .col-card-inr:hover {
  background-color: var(--bs-white);
  box-shadow: 0 28px 57px rgba(190, 190, 190, 0.1450980392);
  background: linear-gradient(var(--bs-white), var(--bs-white)) padding-box, linear-gradient(0deg, var(--bs-tint12-grey), var(--bs-white)) border-box;
}
.explore-feature .container .explore-feature-inr .row .col-card-1 .col-card-inr .icon-otr:after {
  background-color: var(--bs-tint3-blue);
}
.explore-feature .container .explore-feature-inr .row .col-card-1 .col-card-inr:hover .content-otr .heading {
  color: var(--bs-tint3-blue);
}
.explore-feature .container .explore-feature-inr .row .col-card-2 .col-card-inr .icon-otr::after {
  background-color: var(--bs-skinRed);
}
.explore-feature .container .explore-feature-inr .row .col-card-2 .col-card-inr:hover .content-otr .heading {
  color: var(--bs-skinRed);
}
.explore-feature .container .explore-feature-inr .row .col-card-3 .col-card-inr .icon-otr::after {
  background-color: var(--bs-tint0-pink);
}
.explore-feature .container .explore-feature-inr .row .col-card-3 .col-card-inr:hover .content-otr .heading {
  color: var(--bs-tint0-pink);
}

/* **********************************
   ********Explore Section End*******
   ********************************** */
/* ******************************************
   *******Lead Management Section Start******
   ****************************************** */
.lead-management {
  position: relative;
  padding-block: 110px;
}
@media (max-width: 575.98px) {
  .lead-management {
    padding-block: 80px;
  }
}
@media (max-width: 991.98px) {
  .lead-management .container .lead-management-inr .row {
    gap: 48px 0;
  }
}
.lead-management .container .lead-management-inr .row .col-img-otr .col-img-inr {
  position: relative;
  display: flex;
  justify-content: center;
}
.lead-management .container .lead-management-inr .row .col-img-otr .col-img-inr .img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  box-shadow: -33px 60px 72px rgba(155, 155, 155, 0.1254901961);
}
@media (max-width: 991.98px) {
  .lead-management .container .lead-management-inr .row .col-img-otr .col-img-inr .img {
    width: auto;
    height: 736px;
  }
}
@media (max-width: 767.98px) {
  .lead-management .container .lead-management-inr .row .col-img-otr .col-img-inr .img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 575.98px) {
  .lead-management .container .lead-management-inr .row .col-img-otr .col-img-inr .img {
    box-shadow: -16px 30px 42px rgba(155, 155, 155, 0.062745098);
  }
}
.lead-management .container .lead-management-inr .row .col-content-otr .col-content-inr {
  padding-left: 48px;
}
@media (max-width: 1200px) {
  .lead-management .container .lead-management-inr .row .col-content-otr .col-content-inr {
    padding-left: 24px;
  }
}
@media (max-width: 991.98px) {
  .lead-management .container .lead-management-inr .row .col-content-otr .col-content-inr {
    padding-left: 0;
  }
}
@media (max-width: 991.98px) {
  .lead-management .container .lead-management-inr .row .col-content-otr .col-content-inr .content-otr {
    text-align: center;
  }
}
.lead-management .container .lead-management-inr .row .col-content-otr .col-content-inr .content-otr .heading {
  color: var(--bs-primary-03);
}
.lead-management .container .lead-management-inr .row .col-content-otr .col-content-inr .content-otr .desc {
  margin-top: 12px;
  color: var(--bs-secondary-01);
}
.lead-management .container .lead-management-inr .row .col-content-otr .col-content-inr .cards-otr {
  margin-top: 30px;
}
.lead-management .container .lead-management-inr .row .col-content-otr .col-content-inr .cards-otr .card-ul {
  gap: 30px;
  flex-direction: column;
}
.lead-management .container .lead-management-inr .row .col-content-otr .col-content-inr .cards-otr .card-ul .card-otr {
  position: relative;
  padding: 26px 23px 26px 64px;
  border: 1px solid transparent;
  background: linear-gradient(var(--bs-white), var(--bs-white)) padding-box, linear-gradient(90deg, rgba(224, 224, 224, 0), var(--bs-tint10-grey)) border-box;
  border-radius: 30px;
}
.lead-management .container .lead-management-inr .row .col-content-otr .col-content-inr .cards-otr .card-ul .card-otr .heading {
  color: var(--bs-primary-03);
}
.lead-management .container .lead-management-inr .row .col-content-otr .col-content-inr .cards-otr .card-ul .card-otr .desc {
  color: var(--bs-secondary-01);
}
@media (max-width: 420px) {
  .lead-management .container .lead-management-inr .row .col-content-otr .col-content-inr .cards-otr .card-ul .card-otr {
    padding: 23px 23px 23px 50px;
  }
}
.lead-management .container .lead-management-inr .row .col-content-otr .col-content-inr .cards-otr .card-ul .card-otr .heading {
  color: var(--bs-primary-03);
}
.lead-management .container .lead-management-inr .row .col-content-otr .col-content-inr .cards-otr .card-ul .card-otr .desc {
  color: var(--bs-secondary-01);
  margin-top: 6px;
}
.lead-management .container .lead-management-inr .row .col-content-otr .col-content-inr .cards-otr .card-ul .card-otr::before {
  content: "";
  width: 21px;
  height: 21px;
  border-radius: 100%;
  background-color: var(--bs-tint1-blue);
  border: 1px solid var(--bs-tint0-blue);
  position: absolute;
  top: 37px;
  left: 23px;
}
@media (max-width: 420px) {
  .lead-management .container .lead-management-inr .row .col-content-otr .col-content-inr .cards-otr .card-ul .card-otr::before {
    left: 9px;
  }
}
.lead-management::before {
  content: "";
  background: url(/assets/img/section-vector.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100%;
  transform: rotateX(180deg) rotateZ(180deg);
  width: 100%;
  height: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 1400px) {
  .lead-management::before {
    height: 800px;
    top: 50%;
    transform: translateY(-50%) rotateX(180deg) rotateZ(180deg);
  }
}
@media (max-width: 1200px) {
  .lead-management::before {
    height: 760px;
  }
}
@media (max-width: 991.98px) {
  .lead-management::before {
    top: 0;
    transform: rotateX(180deg) rotateZ(180deg);
  }
}
@media (max-width: 600px) {
  .lead-management::before {
    height: 650px;
  }
}
@media (max-width: 420px) {
  .lead-management::before {
    height: 450px;
    top: 5%;
    transform: translateY(-5%) rotateX(180deg) rotateZ(180deg);
  }
}
@media (max-width: 320px) {
  .lead-management::before {
    height: 400px;
  }
}

/* ******************************************
   ********Lead Management Section End*******
   ****************************************** */
/* ******************************************
   *****Project Management Section Start*****
   ****************************************** */
.project-management {
  position: relative;
  padding-block: 110px;
}
@media (max-width: 575.98px) {
  .project-management {
    padding-block: 80px;
  }
}
@media (max-width: 991.98px) {
  .project-management .container .project-management-inr > .row {
    gap: 48px 0;
    flex-direction: column-reverse;
  }
}
.project-management .container .project-management-inr > .row .col-content-otr .col-content-inr {
  padding-right: 48px;
}
@media (max-width: 1200px) {
  .project-management .container .project-management-inr > .row .col-content-otr .col-content-inr {
    padding-right: 24px;
  }
}
@media (max-width: 991.98px) {
  .project-management .container .project-management-inr > .row .col-content-otr .col-content-inr {
    padding-right: 0;
  }
}
@media (max-width: 991.98px) {
  .project-management .container .project-management-inr > .row .col-content-otr .col-content-inr > .content-otr {
    text-align: center;
  }
}
.project-management .container .project-management-inr > .row .col-content-otr .col-content-inr > .content-otr .heading {
  color: var(--bs-primary-03);
}
.project-management .container .project-management-inr > .row .col-content-otr .col-content-inr > .content-otr .desc {
  margin-top: 17px;
  color: var(--bs-secondary-01);
}
.project-management .container .project-management-inr > .row .col-content-otr .col-content-inr .cards-otr {
  margin-block: 55px;
}
@media (max-width: 420px) {
  .project-management .container .project-management-inr > .row .col-content-otr .col-content-inr .cards-otr {
    margin-block: 40px;
  }
}
@media (max-width: 767.98px) {
  .project-management .container .project-management-inr > .row .col-content-otr .col-content-inr .cards-otr .card-ul {
    gap: 43px 0;
  }
}
.project-management .container .project-management-inr > .row .col-content-otr .col-content-inr .cards-otr .card-ul .card-li:last-child {
  padding-left: 31px;
}
@media (max-width: 767.98px) {
  .project-management .container .project-management-inr > .row .col-content-otr .col-content-inr .cards-otr .card-ul .card-li:last-child {
    padding-left: 12px;
  }
}
.project-management .container .project-management-inr > .row .col-content-otr .col-content-inr .cards-otr .card-ul .card-li .icon-otr {
  width: 95px;
  height: 45px;
}
@media (max-width: 420px) {
  .project-management .container .project-management-inr > .row .col-content-otr .col-content-inr .cards-otr .card-ul .card-li .icon-otr {
    width: 65px;
    height: 45px;
  }
}
.project-management .container .project-management-inr > .row .col-content-otr .col-content-inr .cards-otr .card-ul .card-li .icon-otr .icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.project-management .container .project-management-inr > .row .col-content-otr .col-content-inr .cards-otr .card-ul .card-li .content-otr {
  margin-top: 21px;
}
@media (max-width: 420px) {
  .project-management .container .project-management-inr > .row .col-content-otr .col-content-inr .cards-otr .card-ul .card-li .content-otr {
    margin-top: 12px;
  }
}
.project-management .container .project-management-inr > .row .col-content-otr .col-content-inr .cards-otr .card-ul .card-li .content-otr .heading {
  color: var(--bs-primary-03);
}
.project-management .container .project-management-inr > .row .col-content-otr .col-content-inr .cards-otr .card-ul .card-li .content-otr .desc {
  margin-top: 10px;
  color: var(--bs-secondary-01);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media (max-width: 991.98px) {
  .project-management .container .project-management-inr > .row .col-content-otr .col-content-inr .action-otr {
    display: flex;
    justify-content: center;
  }
}
.project-management .container .project-management-inr > .row .col-content-otr .col-content-inr .action-otr .get-start-btn {
  display: inline-flex;
}
.project-management .container .project-management-inr > .row .col-img-otr .col-img-inr {
  position: relative;
  display: flex;
  justify-content: center;
}
.project-management .container .project-management-inr > .row .col-img-otr .col-img-inr .img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  box-shadow: 40px 48px 105px rgba(155, 155, 155, 0.1254901961);
}
@media (max-width: 991.98px) {
  .project-management .container .project-management-inr > .row .col-img-otr .col-img-inr .img {
    width: auto;
    height: 736px;
  }
}
@media (max-width: 767.98px) {
  .project-management .container .project-management-inr > .row .col-img-otr .col-img-inr .img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 575.98px) {
  .project-management .container .project-management-inr > .row .col-img-otr .col-img-inr .img {
    box-shadow: -16px 30px 42px rgba(155, 155, 155, 0.062745098);
  }
}
.project-management::before {
  content: "";
  background: url(/assets/img/section-vector.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 100%;
  height: 1000px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
@media (max-width: 1400px) {
  .project-management::before {
    height: 800px;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (max-width: 1200px) {
  .project-management::before {
    height: 760px;
  }
}
@media (max-width: 991.98px) {
  .project-management::before {
    top: 0%;
    transform: translateY(0%);
  }
}
@media (max-width: 600px) {
  .project-management::before {
    height: 650px;
  }
}
@media (max-width: 420px) {
  .project-management::before {
    height: 450px;
    top: 5%;
    transform: translateY(-5%);
  }
}
@media (max-width: 320px) {
  .project-management::before {
    height: 400px;
  }
}

/* ******************************************
   ******Project Management Section End******
   ****************************************** */
/* **********************************
   *******Client Section Start*******
   ********************************** */
.client-logos .container .client-logos-inr .wrapper {
  width: 800px;
  max-width: 100%;
}
.client-logos .container .client-logos-inr .wrapper .heading {
  color: var(--bs-primary-03);
}
.client-logos .container .client-logos-inr .wrapper .desc {
  margin-top: 9px;
  color: var(--bs-secondary-01);
}
.client-logos .container .client-logos-inr .client-logo {
  margin-top: 24px;
}
.client-logos .container .client-logos-inr .client-logo .swiper {
  position: relative;
}
.client-logos .container .client-logos-inr .client-logo .swiper .swiper-wrapper .swiper-slide {
  background-color: var(--bs-white);
  padding: 20px 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767.98px) {
  .client-logos .container .client-logos-inr .client-logo .swiper .swiper-wrapper .swiper-slide {
    padding: 12px 35px;
  }
}
.client-logos .container .client-logos-inr .client-logo .swiper .swiper-wrapper .swiper-slide .logo-otr {
  width: 120px;
  height: 80px;
}
@media (max-width: 767.98px) {
  .client-logos .container .client-logos-inr .client-logo .swiper .swiper-wrapper .swiper-slide .logo-otr {
    width: 100px;
    height: 60px;
  }
}
.client-logos .container .client-logos-inr .client-logo .swiper .swiper-wrapper .swiper-slide .logo-otr .logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.client-logos .container .client-logos-inr .client-logo .swiper::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--bs-tint4-grey);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.client-logos .container .client-logos-inr .client-logo .mySwiper1,
.client-logos .container .client-logos-inr .client-logo .mySwiper3 {
  width: 80%;
  max-width: 100%;
  margin-inline: auto;
}
.client-logos .container .client-logos-inr .client-logo .swiper:nth-child(2) {
  border-top: 1px solid var(--bs-tint4-grey);
  border-bottom: 1px solid var(--bs-tint4-grey);
}

/* **********************************
   ********Client Section End********
   ********************************** */
/* **********************************
   *****Newsletter Section Start*****
   ********************************** */
.newsletter {
  padding-block: 91px 147px;
}
.newsletter .container .newsletter-inr {
  position: relative;
  padding: 126px 115px 0px 115px;
}
@media (max-width: 1400px) {
  .newsletter .container .newsletter-inr {
    padding: 126px 90px 0px 90px;
  }
}
@media (max-width: 991.98px) {
  .newsletter .container .newsletter-inr {
    padding: 100px 60px 0px 60px;
  }
}
@media (max-width: 575.98px) {
  .newsletter .container .newsletter-inr {
    padding: 70px 30px 0px 30px;
  }
}
.newsletter .container .newsletter-inr::after {
  content: "";
  width: 100%;
  height: 800px;
  position: absolute;
  background: conic-gradient(from -20deg, var(--bs-primary-03), var(--bs-tint-black));
  top: 0;
  left: 0;
  border-radius: 30px;
  z-index: -1;
}
@media (max-width: 991.98px) {
  .newsletter .container .newsletter-inr::after {
    height: 700px;
  }
}
@media (max-width: 767.98px) {
  .newsletter .container .newsletter-inr::after {
    height: 600px;
  }
}
@media (max-width: 575.98px) {
  .newsletter .container .newsletter-inr::after {
    height: 110%;
  }
}
.newsletter .container .newsletter-inr .row {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 85px;
}
@media (max-width: 1140px) {
  .newsletter .container .newsletter-inr .row {
    gap: 20px 0;
  }
}
@media (max-width: 991.98px) {
  .newsletter .container .newsletter-inr .row {
    margin-bottom: 50px;
  }
}
.newsletter .container .newsletter-inr .row .col-content-otr .heading {
  color: var(--bs-white);
}
.newsletter .container .newsletter-inr .row .col-content-otr .desc {
  margin-bottom: 9px;
  color: var(--bs-white);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.newsletter .container .newsletter-inr .row .col-contact-otr {
  padding-left: 140px;
}
@media (max-width: 1400px) {
  .newsletter .container .newsletter-inr .row .col-contact-otr {
    padding-left: 40px;
  }
}
@media (max-width: 1140px) {
  .newsletter .container .newsletter-inr .row .col-contact-otr {
    padding-left: 12px;
  }
}
.newsletter .container .newsletter-inr .row .col-contact-otr .heading {
  color: var(--bs-white);
  margin-bottom: 18px;
}
.newsletter .container .newsletter-inr .row .col-contact-otr .form-main {
  display: flex;
  gap: 9px;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .newsletter .container .newsletter-inr .row .col-contact-otr .form-main {
    flex-direction: column;
    align-items: flex-start;
  }
}
.newsletter .container .newsletter-inr .row .col-contact-otr .form-main .input-otr {
  flex-grow: 1;
}
@media (max-width: 767.98px) {
  .newsletter .container .newsletter-inr .row .col-contact-otr .form-main .input-otr {
    width: 100%;
  }
}
.newsletter .container .newsletter-inr .row .col-contact-otr .form-main .input-otr .input-email {
  width: 100%;
  padding: 22px;
  border: none;
  border-radius: 5px;
  background-color: var(--bs-white);
}
.newsletter .container .newsletter-inr .row .col-contact-otr .form-main .input-otr .input-email:focus {
  outline: none;
}
.newsletter .container .newsletter-inr .row .col-contact-otr .form-main .input-otr .input-email::placeholder {
  color: #939393;
}
@media (max-width: 767.98px) {
  .newsletter .container .newsletter-inr .row .col-contact-otr .form-main .input-otr .input-email {
    padding: 18px;
  }
}
@media (max-width: 420px) {
  .newsletter .container .newsletter-inr .row .col-contact-otr .form-main .input-otr .input-email {
    padding: 12px;
  }
}
.newsletter .container .newsletter-inr .row .col-contact-otr .form-main .action-otr .input-submit {
  padding: 22px 53px;
  border: none;
  border-radius: 5px;
  background-color: var(--bs-tint2-blue);
  color: var(--bs-primary-03);
}
@media (max-width: 1200px) {
  .newsletter .container .newsletter-inr .row .col-contact-otr .form-main .action-otr .input-submit {
    padding: 22px 40px;
  }
}
@media (max-width: 767.98px) {
  .newsletter .container .newsletter-inr .row .col-contact-otr .form-main .action-otr .input-submit {
    padding: 18px 38px;
  }
}
@media (max-width: 420px) {
  .newsletter .container .newsletter-inr .row .col-contact-otr .form-main .action-otr .input-submit {
    padding: 12px 24px;
  }
}
.newsletter .container .newsletter-inr .dashboard-otr {
  position: relative;
}
.newsletter .container .newsletter-inr .dashboard-otr .dashboard-img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 1px solid transparent;
  background: linear-gradient(transparent, transparent) padding-box, linear-gradient(0deg, var(--bs-tint7-grey), var(--bs-white)) border-box;
}
@media (max-width: 767.98px) {
  .newsletter .container .newsletter-inr .dashboard-otr .dashboard-img {
    border-radius: 20px;
  }
}
.newsletter .container .newsletter-inr .dashboard-otr::after {
  content: "";
  box-shadow: 20px 28px 85px var(--bs-tint12-grey);
  width: 100%;
  height: 100%;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

/* **********************************
   ******Newsletter Section End******
   ********************************** */
/* **********************************
   ******Products Section Start******
   ********************************** */
.products .container .products-inr .wrapper {
  width: 800px;
  max-width: 100%;
}
.products .container .products-inr .wrapper .heading {
  color: var(--bs-primary-03);
}
.products .container .products-inr .wrapper .desc {
  margin-top: 10px;
  color: var(--bs-secondary-01);
}
.products .container .products-inr .row {
  margin-top: 56px;
  background-color: var(--bs-secondary-04);
  border-radius: 30px;
  outline-offset: 7px;
  outline: 3px dashed var(--bs-tint8-grey);
  padding: 57px 4px;
  gap: 18px 0;
  justify-content: center;
}
@media (max-width: 575.98px) {
  .products .container .products-inr .row {
    outline: none;
  }
}
.products .container .products-inr .row .col-product-otr:not(:last-child) {
  padding-right: 30px;
}
@media (max-width: 1140px) {
  .products .container .products-inr .row .col-product-otr:not(:last-child) {
    padding-right: 12px;
  }
}
.products .container .products-inr .row .col-product-otr .col-product-inr .topic-otr {
  display: flex;
}
.products .container .products-inr .row .col-product-otr .col-product-inr .topic-otr .topic-btn {
  padding: 14px 41px;
  background: var(--bs-primary-03);
  color: var(--bs-white);
  border-radius: 5px;
  font: 20px/25px "Jost-SemiBold";
}
.products .container .products-inr .row .col-product-otr .col-product-inr .feature-otr {
  margin-top: 33px;
}
@media (max-width: 575.98px) {
  .products .container .products-inr .row .col-product-otr .col-product-inr .feature-otr {
    margin-top: 20px;
  }
}
.products .container .products-inr .row .col-product-otr .col-product-inr .feature-otr .feature-ul {
  display: flex;
  flex-direction: column;
  gap: 33px 0;
}
@media (max-width: 575.98px) {
  .products .container .products-inr .row .col-product-otr .col-product-inr .feature-otr .feature-ul {
    gap: 18px 0;
  }
}
.products .container .products-inr .row .col-product-otr .col-product-inr .feature-otr .feature-ul .feature-li {
  position: relative;
  display: flex;
  gap: 0 23px;
  align-items: center;
  padding-bottom: 21px;
}
@media (max-width: 575.98px) {
  .products .container .products-inr .row .col-product-otr .col-product-inr .feature-otr .feature-ul .feature-li {
    gap: 18px;
  }
}
@media (max-width: 420px) {
  .products .container .products-inr .row .col-product-otr .col-product-inr .feature-otr .feature-ul .feature-li {
    flex-direction: column;
    align-items: flex-start;
  }
}
.products .container .products-inr .row .col-product-otr .col-product-inr .feature-otr .feature-ul .feature-li .icon-otr {
  padding: 14px;
  border-radius: 100%;
}
.products .container .products-inr .row .col-product-otr .col-product-inr .feature-otr .feature-ul .feature-li .icon-otr .icon {
  width: 26px;
  height: 26px;
}
.products .container .products-inr .row .col-product-otr .col-product-inr .feature-otr .feature-ul .feature-li .content-otr .heading {
  color: var(--bs-primary-03);
}
.products .container .products-inr .row .col-product-otr .col-product-inr .feature-otr .feature-ul .feature-li .content-otr .desc {
  color: var(--bs-secondary-01);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.products .container .products-inr .row .col-product-otr .col-product-inr .feature-otr .feature-ul .feature-li:not(:last-child)::after {
  content: "";
  width: calc(100% - 54px);
  height: 1px;
  background-color: #d9d9d9;
  position: absolute;
  bottom: 0;
  right: 0;
}
.products .container .products-inr .row .prod-1 .col-product-inr .feature-otr .feature-ul .feat-1 .icon-otr {
  background-color: var(--bs-tint3-seaBlue);
}
.products .container .products-inr .row .prod-1 .col-product-inr .feature-otr .feature-ul .feat-2 .icon-otr {
  background-color: var(--bs-tint2-pink);
}
.products .container .products-inr .row .prod-1 .col-product-inr .feature-otr .feature-ul .feat-3 .icon-otr {
  background-color: var(--bs-tint2-seaBlue);
}
.products .container .products-inr .row .prod-2 .col-product-inr .feature-otr .feature-ul .feat-1 .icon-otr {
  background-color: var(--bs-tint2-skinRed);
}
.products .container .products-inr .row .prod-2 .col-product-inr .feature-otr .feature-ul .feat-2 .icon-otr {
  background-color: #dff3f2;
}
.products .container .products-inr .row .prod-2 .col-product-inr .feature-otr .feature-ul .feat-3 .icon-otr {
  background-color: var(--bs-seaBlue);
}
.products .container .products-inr .row .prod-3 .col-product-inr .feature-otr .feature-ul .feat-1 .icon-otr {
  background-color: var(--bs-tint3-pink);
}
.products .container .products-inr .row .prod-3 .col-product-inr .feature-otr .feature-ul .feat-2 .icon-otr {
  background-color: var(--bs-tint3-skinRed);
}
.products .container .products-inr .row .prod-3 .col-product-inr .feature-otr .feature-ul .feat-3 .icon-otr {
  background-color: var(--bs-tint1-skinRed);
}
.products .container .products-inr .row .prod-3 .col-product-inr .feature-otr .feature-ul .feat-4 .icon-otr {
  background-color: var(--bs-tint1-pink);
}

/* **********************************
   *******Products Section End*******
   ********************************** */
/* **********************************
   *********HTW Section Start********
   ********************************** */
.how-it-work {
  position: relative;
  padding-block: 136px 111px;
}
@media (max-width: 767.98px) {
  .how-it-work {
    padding-block: 100px;
  }
}
.how-it-work .container .how-it-work-inr .row .col-content-otr {
  padding-right: 63px;
}
@media (max-width: 991.98px) {
  .how-it-work .container .how-it-work-inr .row .col-content-otr {
    padding-right: 12px;
    padding-bottom: 63px;
  }
}
.how-it-work .container .how-it-work-inr .row .col-content-otr .col-content-inr > .heading {
  color: var(--bs-primary-03);
}
@media (max-width: 991.98px) {
  .how-it-work .container .how-it-work-inr .row .col-content-otr .col-content-inr > .heading {
    text-align: center;
  }
}
.how-it-work .container .how-it-work-inr .row .col-content-otr .col-content-inr > .desc {
  margin-top: 5px;
  columns: var(--bs-secondary-01);
}
@media (max-width: 991.98px) {
  .how-it-work .container .how-it-work-inr .row .col-content-otr .col-content-inr > .desc {
    text-align: center;
  }
}
.how-it-work .container .how-it-work-inr .row .col-content-otr .col-content-inr .cards-otr {
  margin-top: 30px;
}
.how-it-work .container .how-it-work-inr .row .col-content-otr .col-content-inr .cards-otr .card-ul {
  gap: 17px 0;
  justify-content: center;
}
.how-it-work .container .how-it-work-inr .row .col-content-otr .col-content-inr .cards-otr .card-li {
  position: relative;
  padding: 26px 23px 26px 64px;
  border: 1px solid transparent;
  background: linear-gradient(var(--bs-white), var(--bs-white)) padding-box, linear-gradient(90deg, rgba(224, 224, 224, 0), var(--bs-tint10-grey)) border-box;
  border-radius: 30px;
}
@media (max-width: 575.98px) {
  .how-it-work .container .how-it-work-inr .row .col-content-otr .col-content-inr .cards-otr .card-li {
    padding: 23px 23px 23px 54px;
  }
}
.how-it-work .container .how-it-work-inr .row .col-content-otr .col-content-inr .cards-otr .card-li .heading {
  color: var(--bs-primary-03);
}
.how-it-work .container .how-it-work-inr .row .col-content-otr .col-content-inr .cards-otr .card-li .desc {
  margin-top: 9px;
  color: var(--bs-secondary-01);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.how-it-work .container .how-it-work-inr .row .col-content-otr .col-content-inr .cards-otr .card-li::before {
  counter-increment: htw;
  content: "0" counter(htw);
  position: absolute;
  top: 26px;
  left: 0;
  font: 40px/133.2% "Jost-SemiBold";
  color: var(--bs-tint1-blue);
}
@media (max-width: 575.98px) {
  .how-it-work .container .how-it-work-inr .row .col-content-otr .col-content-inr .cards-otr .card-li::before {
    font: 32px/120.2% "Jost-SemiBold";
    left: 1%;
    transform: translateX(-1%);
  }
}
.how-it-work .col-img-otr {
  position: absolute;
  width: 50%;
  height: fit-content;
  top: 55%;
  right: 0;
  transform: translateY(-55%);
  border-radius: 30px 0px 0px 30px;
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .how-it-work .col-img-otr {
    position: relative;
    transform: translateY(0%);
    border-radius: 20px;
    width: 100%;
  }
}
.how-it-work .col-img-otr .work-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

/* **********************************
   *********HTW Section End**********
   ********************************** */
/* **********************************
   *****Tesimonial Section Start*****
   ********************************** */
.testimonial {
  background-color: var(--bs-primary-03);
}
.testimonial .container .testimonials-inr {
  padding-block: 120px;
  position: relative;
}
@media (max-width: 991.98px) {
  .testimonial .container .testimonials-inr {
    padding-block: 100px;
  }
}
.testimonial .container .testimonials-inr .users-otr {
  margin-bottom: 115px;
}
@media (max-width: 991.98px) {
  .testimonial .container .testimonials-inr .users-otr {
    margin-bottom: 80px;
  }
}
.testimonial .container .testimonials-inr .users-otr .swiper .swiper-wrapper .user-otr .profile-otr {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testimonial .container .testimonials-inr .users-otr .swiper .swiper-wrapper .user-otr .profile-otr .img-otr {
  display: flex;
  justify-content: center;
}
.testimonial .container .testimonials-inr .users-otr .swiper .swiper-wrapper .user-otr .profile-otr .img-otr .user-img {
  width: 202px;
  height: 202px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2509803922));
}
@media (max-width: 575.98px) {
  .testimonial .container .testimonials-inr .users-otr .swiper .swiper-wrapper .user-otr .profile-otr .img-otr .user-img {
    width: 150px;
    height: 150px;
  }
}
.testimonial .container .testimonials-inr .users-otr .swiper .swiper-wrapper .user-otr .profile-otr .text {
  margin-top: 24px;
}
.testimonial .container .testimonials-inr .users-otr .swiper .swiper-wrapper .user-otr .profile-otr .text .heading {
  position: relative;
  color: var(--bs-white);
  transition: all 0.3s;
}
.testimonial .container .testimonials-inr .users-otr .swiper .swiper-wrapper .user-otr .profile-otr .text .heading::before {
  content: "〝";
  color: var(--bs-white);
  position: absolute;
  width: 30px;
  height: 24px;
  top: -10px;
  left: -40px;
}
.testimonial .container .testimonials-inr .users-otr .swiper .swiper-wrapper .user-otr .profile-otr .text .heading:hover {
  color: var(--bs-tint1-blue);
}
.testimonial .container .testimonials-inr .users-otr .swiper .swiper-wrapper .user-otr .profile-otr .text .label {
  color: var(--bs-white);
}
.testimonial .container .testimonials-inr .users-otr .swiper .swiper-wrapper .user-otr .rating-otr {
  margin-block: 20px;
  gap: 0 10px;
  justify-content: center;
}
@media (max-width: 991.98px) {
  .testimonial .container .testimonials-inr .users-otr .swiper .swiper-wrapper .user-otr .rating-otr {
    margin-block: 10px;
  }
}
.testimonial .container .testimonials-inr .users-otr .swiper .swiper-wrapper .user-otr .rating-otr .icon-otr .icon {
  color: var(--bs-tint-yellow);
  font-size: 28px;
  -webkit-text-stroke: 2px;
}
@media (max-width: 575.98px) {
  .testimonial .container .testimonials-inr .users-otr .swiper .swiper-wrapper .user-otr .rating-otr .icon-otr .icon {
    font-size: 22px;
  }
}
.testimonial .container .testimonials-inr .users-otr .swiper .swiper-wrapper .user-otr .user-desc {
  color: var(--bs-white);
  width: 600px;
  max-width: 100%;
  margin-inline: auto;
}
.testimonial .container .testimonials-inr .users-otr .swiper .swiper-wrapper .user-otr .user-desc .text-inr {
  color: var(--bs-tint1-blue);
  font-family: "OpenSans-Bold";
}
.testimonial .container .testimonials-inr .users-otr .swiper .swiper-nav {
  padding: 35px;
  background-color: #454545;
  border-radius: 100%;
  font-size: 40px;
  color: var(--bs-white);
  outline-offset: 8px;
  outline: 1px solid var(--bs-white);
  transition: all 0.3s;
}
@media (max-width: 991.98px) {
  .testimonial .container .testimonials-inr .users-otr .swiper .swiper-nav {
    padding: 22px;
    font-size: 35px;
  }
}
@media (max-width: 575.98px) {
  .testimonial .container .testimonials-inr .users-otr .swiper .swiper-nav {
    display: none;
  }
}
.testimonial .container .testimonials-inr .users-otr .swiper .swiper-nav::after {
  content: none;
}
.testimonial .container .testimonials-inr .users-otr .swiper .swiper-nav:hover {
  background-color: var(--bs-tint1-blue);
  outline-color: var(--bs-tint1-blue);
}
.testimonial .container .testimonials-inr .users-otr .swiper .swiper-button-next {
  margin-right: 15px;
}
.testimonial .container .testimonials-inr .users-otr .swiper .swiper-button-prev {
  margin-left: 15px;
}
.testimonial .container .testimonials-inr .counter-otr {
  position: relative;
  padding-top: 50px;
}
.testimonial .container .testimonials-inr .counter-otr .row {
  gap: 24px 0;
  justify-content: center;
}
@media (max-width: 420px) {
  .testimonial .container .testimonials-inr .counter-otr .row .col-stat-otr {
    flex: 1 1 100%;
  }
}
.testimonial .container .testimonials-inr .counter-otr .row .col-stat-otr .heading {
  color: var(--bs-white);
}
.testimonial .container .testimonials-inr .counter-otr .row .col-stat-otr .label {
  color: var(--bs-white);
}
.testimonial .container .testimonials-inr .counter-otr .row .stat-1 .heading .heading-inr {
  color: var(--bs-tint1-blue);
}
.testimonial .container .testimonials-inr .counter-otr .row .stat-2 .heading .heading-inr {
  color: var(--bs-tint-yellow);
}
.testimonial .container .testimonials-inr .counter-otr .row .stat-3 .heading .heading-inr {
  color: var(--bs-tint1-green);
}
.testimonial .container .testimonials-inr .counter-otr .row .stat-4 .heading .heading-inr {
  color: var(--bs-tint-red);
}
.testimonial .container .testimonials-inr .counter-otr::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #999999;
  position: absolute;
  top: 0;
  left: 0;
}
.testimonial .container .testimonials-inr::after {
  content: "";
  background: url(/assets/img/brick-Pattern.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 441px;
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -3%);
}
@media (max-width: 991.98px) {
  .testimonial .container .testimonials-inr::after {
    height: 350px;
  }
}

/* **********************************
   *****Testimonial Section End******
   ********************************** */
/* **********************************
   *******Pricing Section Start******
   ********************************** */
.pricing {
  padding-block: 152px 100px;
}
@media (max-width: 575.98px) {
  .pricing {
    padding-block: 100px;
  }
}
.pricing .container .pricing-inr .wrapper {
  width: 800px;
  max-width: 100%;
}
.pricing .container .pricing-inr .wrapper .heading {
  color: var(--bs-primary-03);
}
.pricing .container .pricing-inr .wrapper .desc {
  margin-top: 14px;
  color: var(--bs-secondary-01);
}
.pricing .container .pricing-inr .content-otr {
  position: relative;
  padding: 154px 95px 0px;
}
@media (max-width: 1400px) {
  .pricing .container .pricing-inr .content-otr {
    padding: 154px 55px 0;
  }
}
@media (max-width: 991.98px) {
  .pricing .container .pricing-inr .content-otr {
    gap: 40px 0;
  }
}
@media (max-width: 575.98px) {
  .pricing .container .pricing-inr .content-otr {
    padding: 100px 35px 0;
  }
}
@media (max-width: 420px) {
  .pricing .container .pricing-inr .content-otr {
    padding: 80px 15px 0;
  }
}
.pricing .container .pricing-inr .content-otr::after {
  content: "";
  width: 100%;
  height: 533px;
  position: absolute;
  border-radius: 30px;
  background-image: conic-gradient(var(--bs-primary-02), var(--bs-primary-01));
  top: 36px;
  left: 0;
  z-index: -1;
}
@media (max-width: 991.98px) {
  .pricing .container .pricing-inr .content-otr::after {
    height: 100%;
    background-image: linear-gradient(150deg, var(--bs-primary-02), var(--bs-primary-01));
  }
}
@media (min-width: 991.98px) {
  .pricing .container .pricing-inr .content-otr .price-deal:first-child {
    padding-right: 32px;
  }
  .pricing .container .pricing-inr .content-otr .price-deal:last-child {
    padding-left: 32px;
  }
}
.pricing .container .pricing-inr .content-otr .price-deal .icon-heading {
  padding: 0 0 10px 59px;
  align-items: center;
  gap: 0 8px;
}
@media (max-width: 991.98px) {
  .pricing .container .pricing-inr .content-otr .price-deal .icon-heading {
    padding: 0 0 24px 59px;
  }
}
@media (max-width: 575.98px) {
  .pricing .container .pricing-inr .content-otr .price-deal .icon-heading {
    padding: 0 0 24px 12px;
  }
}
.pricing .container .pricing-inr .content-otr .price-deal .icon-heading .icon-otr {
  padding: 16px;
  border-radius: 100%;
  display: flex;
}
.pricing .container .pricing-inr .content-otr .price-deal .icon-heading .icon-otr .icon {
  width: 25px;
  height: 25px;
}
@media (max-width: 575.98px) {
  .pricing .container .pricing-inr .content-otr .price-deal .icon-heading .icon-otr {
    padding: 12px;
  }
  .pricing .container .pricing-inr .content-otr .price-deal .icon-heading .icon-otr .icon {
    width: 20px;
    height: 20px;
  }
}
.pricing .container .pricing-inr .content-otr .price-deal .icon-heading .heading {
  color: var(--bs-primary-03);
}
.pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr {
  border-radius: 30px;
  border: 1px solid transparent;
  background: linear-gradient(var(--bs-white), var(--bs-white)) padding-box, linear-gradient(0deg, var(--bs-tint12-grey), var(--bs-white)) border-box;
  box-shadow: 0px 28px 57px rgba(190, 190, 190, 0.2509803922);
  padding: 62px;
}
@media (max-width: 767.98px) {
  .pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr {
    padding: 52px;
  }
}
@media (max-width: 575.98px) {
  .pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr {
    padding: 30px;
  }
}
.pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr .heading {
  color: var(--bs-primary-03);
}
.pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr > .desc {
  color: var(--bs-primary-03);
  padding-block: 23px 34px;
  border-bottom: 1px solid var(--bs-tint6-grey);
}
@media (max-width: 767.98px) {
  .pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr > .desc {
    padding-block: 13px 23px;
  }
}
.pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr > .desc .text-inr {
  font-family: "OpenSans-Bold";
}
.pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr .feature-ul {
  padding-block: 21px 33px;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}
@media (max-width: 575.98px) {
  .pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr .feature-ul {
    gap: 5px 0;
  }
}
@media (max-width: 420px) {
  .pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr .feature-ul {
    gap: 0 0;
  }
}
.pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr .feature-ul .feature-li {
  gap: 0 17px;
  align-items: center;
  color: var(--bs-secondary-01);
}
@media (max-width: 575.98px) {
  .pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr .feature-ul .feature-li {
    gap: 0 10px;
  }
}
.pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr .feature-ul .feature-li .icon-otr .bi-check2 {
  color: var(--bs-tint-green);
  font-size: 24px;
  -webkit-text-stroke: 0.5px;
}
.pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr .feature-ul .feature-li .icon-otr .not-avail {
  color: #d0d0d0;
}
.pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr .feature-ul .feat-1 .text-inr,
.pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr .feature-ul .feat-7 .text-inr,
.pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr .feature-ul .feat-11 .text-inr {
  font-family: "OpenSans-Bold";
  color: var(--bs-primary-03);
}
.pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr .feature-ul .feat-3 .text-inr {
  color: var(--bs-tint-yellow);
  font-family: "OpenSans-Bold";
}
.pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr .action-otr .action-btn {
  width: 100%;
  padding: 26px;
  border-radius: 15px;
}
@media (max-width: 575.98px) {
  .pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr .action-otr .action-btn {
    padding: 20px;
  }
}
.pricing .container .pricing-inr .content-otr .price-deal .card-otr .card-inr .action-otr .action-btn:hover {
  background-color: var(--bs-tint11-grey);
  border: 1px solid transparent;
}
.pricing .container .pricing-inr .content-otr .price-deal-1 .icon-heading .icon-otr {
  background-color: var(--bs-primary-03);
}
.pricing .container .pricing-inr .content-otr .price-deal-1 .icon-heading .icon-otr .icon {
  fill: none;
}
.pricing .container .pricing-inr .content-otr .price-deal-2 .icon-heading .icon-otr {
  background-color: var(--bs-white);
}
.pricing .container .pricing-inr .content-otr .price-deal-2 .icon-heading .icon-otr .icon {
  fill: none;
}
.pricing .container .pricing-inr .content-otr .price-deal-2 .card-otr .card-inr .price-icon .icon-svg {
  width: 67px;
  height: 67px;
}
@media (max-width: 767.98px) {
  .pricing .container .pricing-inr .content-otr .price-deal-2 .card-otr .card-inr .price-icon .icon-svg {
    width: 48px;
    height: 48px;
  }
}
.pricing .container .pricing-inr .content-otr .price-deal-2 .card-otr .card-inr .price-icon .icon-svg .icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* **********************************
   ********Pricing Section End*******
   ********************************** */