@import url(./custom.css);
/* **********************************
   *********Basic Style Start********
   ********************************** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
ul,
li {
  list-style: none;
}
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
  display: inline-block;
}
.container{
    padding-block: 15px;
}
@media (min-width: 575.98px) and (max-width: 1200px) {
    .container{
        padding-inline: 45px;
    }
}


/* **********************************
   ********Color Palette Start*******
   ********************************** */

html {
    --bs-primary-01: #49deff;
    --bs-primary-02: #4fffdf;
    --bs-primary-03: #303030;
    --bs-secondary-01: #4e4e4e;
    --bs-secondary-02: #dedede;
    --bs-secondary-03: #f4f4f4;
    --bs-secondary-04: #f9f9f9;
    --bs-tint-yellow: #ffb545;
    --bs-tint-green: #2fcf3f;
    --bs-tint1-green: #47dd56;
    --bs-tint0-blue: #1eb1e5;
    --bs-tint1-blue: #47cfff;
    --bs-tint2-blue: #4be3eb;
    --bs-tint3-blue: #b1e8f2;
    --bs-tint-black: #141414;
    --bs-tint-grey: #4a4a4a;
    --bs-tint1-grey: #6c6c6c;
    --bs-tint2-grey: #9b9b9b;
    --bs-tint3-grey: #bebebe;
    --bs-tint4-grey: #c5c5c5;
    --bs-tint5-grey: #c1c1c1;
    --bs-tint6-grey: #cccccc;
    --bs-tint7-grey: #d1d1d1;
    --bs-tint8-grey: #dbdbdb;
    --bs-tint9-grey: #e1e1e1;
    --bs-tint10-grey: #e0e0e0;
    --bs-tint11-grey: #eaeaea;
    --bs-tint12-grey: #ebebeb;
    --bs-tint13-grey: #7d7d7d;
    --bs-seaBlue: #d5f2fc;
    --bs-tint1-seaBlue: #d5f2fc;
    --bs-tint2-seaBlue: #e4f4e6;
    --bs-tint3-seaBlue: #ededff;
    --bs-tint0-pink: #f5c9e9;
    --bs-tint1-pink: #ffdef2;
    --bs-tint2-pink: #ffe2ed;
    --bs-tint3-pink: #ffe4e4;
    --bs-tint-red: #ff5454;
    --bs-skinRed: #fad7c9;
    --bs-tint1-skinRed: #ffe7df;
    --bs-tint2-skinRed: #fff1db;
    --bs-tint3-skinRed: #f4e5ff;
    --bs-tint-purple: #8a6ffd;
}

/* **********************************
   *********Color Palette End********
   ********************************** */

/* **********************************
   *********Basic Style End**********
   ********************************** */

body {
  font-family: "OpenSans-Regular";
}
.heading-h1{
    font: 60px/ 133.2% "Jost-SemiBold";
}
.heading-h1EB{
    font: 60px/ 133.2% "Jost-ExtraBold";
}
.heading-h1JB{
    font: 60px/ 133.2% "Jost-Bold";
}
@media (max-width: 1400px) {
    .heading-h1{
        font: 50px/ 120% "Jost-SemiBold";
    }
    .heading-h1EB{
        font: 50px/ 120% "Jost-ExtraBold";
    }
    .heading-h1JB{
        font: 50px/ 120% "Jost-Bold";
    }   
}
@media (max-width: 767.98px) {
    .heading-h1{
        font: 40px/ 120% "Jost-SemiBold";
    }
    .heading-h1EB{
        font: 40px/ 120% "Jost-ExtraBold";
    }
    .heading-h1JB{
        font: 40px/ 120% "Jost-Bold";
    }   
}
@media (max-width: 420px) {
    .heading-h1{
        font: 36px/ 120% "Jost-SemiBold";
    }
    .heading-h1EB{
        font: 36px/ 120% "Jost-ExtraBold";
    }
    .heading-h1JB{
        font: 36px/ 120% "Jost-Bold";
    }   
}
.heading-h2{
    font: 40px/ 133.2% "Jost-SemiBold";
}
.heading-h2JB{
    font: 40px/ 133.2% "Jost-Bold";
}
.heading-h2-JM{
    font: 40px/ 133.2% "Jost-Medium";
}
@media  (max-width: 1200px) {
    .heading-h2{
        font: 32px/ 120.2% "Jost-SemiBold";
    }
    .heading-h2JB{
        font: 32px/ 120.2% "Jost-Bold";
    }
    .heading-h2-JM{
        font: 32px/ 120.2% "Jost-Medium";
    }   
}
.heading-h3{
    font: 35px / 133.2% "Jost-Medium";
}
.heading-h3JR{
    font: 35px / 133.2% "Jost-Regular";
}
.heading-h3-SB{
    font: 35px / 133.2% "OpenSans-Bold";
}
@media (max-width: 575.98px) {
    .heading-h3{
        font: 30px / 133.2% "Jost-Medium";
    }
    .heading-h3JR{
        font: 30px / 133.2% "Jost-Regular";
    }
    .heading-h3-SB{
        font: 30px / 133.2% "OpenSans-Bold";
    }   
}
.heading-h4{
    font: 30px / 133.2% "Jost-Medium";
}
.heading-h4-JSB{
    font: 30px / 133.2% "Jost-SemiBold";
}
.heading-h4-JB{
    font: 30px / 133.2% "Jost-Bold";
}
@media (max-width: 575.98px) {
    .heading-h4{
        font: 25px / 133.2% "Jost-Medium";
    }
    .heading-h4-JSB{
        font: 25px / 133.2% "Jost-SemiBold";
    }
    .heading-h4-JB{
        font: 25px / 133.2% "Jost-Bold";
    }   
}
.heading-L{
    font: 25px / 133.2% "Jost-Medium";
}
.heading-L-Sans{
    font: 25px / 160% "OpenSans-Regular";
}
@media (max-width: 575.98px) {
    .heading-L {
        font: 20px / 133.2% "Jost-Medium";
    }
    .heading-L-Sans {
        font: 20px / 160% "OpenSans-Regular";
    }   
}
@media (max-width: 420px) {
    .heading-L {
        font: 18px / 120% "Jost-Medium";
    }
    .heading-L-Sans {
        font: 18px / 140% "OpenSans-Regular";
    }   
}

.heading-M{
    font: 20px / 160% "Jost-Regular";
}
.heading-M-Mulish{
    font: 20px / 160% "Mulish-Regular";
}
.heading-M-Sans{
    font: 20px / 160% "OpenSans-Regular";
}
.heading-M-SB{
    font: 20px / 160% "OpenSans-Bold";
}
.heading-M-Inter{
    font: 20px / 160% "Inter-Regular";
}
.heading-M-SansSB{
    font: 20px / 150.5% "OpenSans-SemiBold";
}
.heading-M-SansSBI{
    font: 20px / 150.5% "OpenSans-SemiBoldItalic";
}
.heading-M-JM{
    font: 20px / 160% "Jost-Medium";
}
.heading-M-JSB{
    font: 20px / 160% "Jost-SemiBold";
}
@media (max-width: 575.98px) {
    .heading-M {
        font: 18px / 133% "Jost-Regular";
    }
    .heading-M-Mulish {
        font: 18px / 133% "Mulish-Regular";
    }
    .heading-M-Sans {
        font: 18px / 133% "OpenSans-Regular";
    }
    .heading-M-SB {
        font: 18px / 133% "OpenSans-Bold";
    }
    .heading-M-Inter {
        font: 18px / 133% "Inter-Regular";
    }
    .heading-M-SansSB {
        font: 18px / 133.5% "OpenSans-SemiBold";
    }
    .heading-M-SansSBI {
        font: 18px / 133.5% "OpenSans-SemiBoldItalic";
    }
    .heading-M-JM {
        font: 18px / 133% "Jost-Medium";
    }
    .heading-M-JSB {
        font: 18px / 133% "Jost-SemiBold";
    }
}
@media (max-width: 420px) {
    .heading-M {
        font: 16px / 133% "Jost-Regular";
    }
    .heading-M-Mulish {
        font: 16px / 133% "Mulish-Regular";
    }
    .heading-M-Sans {
        font: 16px / 133% "OpenSans-Regular";
    }
    .heading-M-SB {
        font: 16px / 133% "OpenSans-Bold";
    }
    .heading-M-Inter {
        font: 16px / 133% "Inter-Regular";
    }
    .heading-M-SansSB {
        font: 16px / 133.5% "OpenSans-SemiBold";
    }
    .heading-M-SansSBI {
        font: 16px / 133.5% "OpenSans-SemiBoldItalic";
    }
    .heading-M-JM {
        font: 16px / 133% "Jost-Medium";
    }
    .heading-M-JSB {
        font: 16px / 133% "Jost-SemiBold";
    }
}
.heading-S{
    font: 18px / 160% "OpenSans-Regular";
}
.heading-SB{
    font: 18px / 160% "OpenSans-SemiBold";
}
@media (max-width: 575.98px) {
    .heading-S{
        font: 16px / 160% "OpenSans-Regular";
    }
    .heading-SB{
        font: 16px / 160% "OpenSans-SemiBold";
    }   
}
.primary-btn{
    display: flex;
    border-radius: 5px;
    font: 20px / 160% "Jost-SemiBold";
    padding: 14px 38px;
    color: var(--bs-white);
    position: relative;
    z-index: 2;
    overflow: hidden;
    border: 1px solid transparent;
    transition: all 0.3s;
}
@media (max-width: 575.98px) {
    .primary-btn{
        font: 18px / 160% "Jost-SemiBold";
    }
}
@media (max-width: 420px) {
    .primary-btn{
        font: 16px / 160% "Jost-SemiBold";
    }
}
.primary-btn::after{
    content: "";
    width: 110%;
    height: 110%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    background: var(--bs-primary-03);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    z-index: -1;
    transition: all 0.3s;
}
.primary-btn:hover{
    background-color: var(--bs-white);
    border: 1px solid black;
}
.primary-btn:hover .text{
    color: var(--bs-primary-03);
    animation: moveUpInitial 0.2s forwards, moveUpEnd 0.2s forwards 0.2s !important;
}
.primary-btn:hover::after {
  clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
}
.primary-btn:not(:hover)::after {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
@keyframes moveUpInitial {
    100%{
        transform: translateY(-120%);
    }
}
@keyframes moveUpEnd{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0);
    }
}