/* **********************************
   *********Basic Style Start********
   ********************************** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
  display: inline-block;
}
.container{
    width: 1400px;
    max-width: 100%;
    padding-block: 15px;
}

/* **********************************
   *********Basic Style End**********
   ********************************** */

body {
  font-family: "OpenSans-Regular";
}
.heading-h1{
    font: 60px/ 133.2% "Jost-SemiBold";
}
.heading-h2{
    font: 40px/ 133.2% "Jost-SemiBold";
}
.heading-h2-JM{
    font: 40px/ 133.2% "Jost-Medium";
}
.heading-h3{
    font: 35px / 133.2% "Jost-Medium";
}
.heading-h3JR{
    font: 35px / 133.2% "Jost-Regular";
}
.heading-h3-SB{
    font: 35px / 133.2% "OpenSans-Bold";
}
.heading-h4{
    font: 30px / 133.2% "Jost-Medium";
}
.heading-L{
    font: 25px / 133.2% "Jost-Medium";
}
.heading-L-Sans{
    font: 25px / 160% "OpenSans-Regular";
}
.heading-M{
    font: 20px / 160% "Jost-Regular";
}
.heading-M-Sans{
    font: 20px / 160% "OpenSans-Regular";
}
.heading-M-Inter{
    font: 20px / 160% "Inter-Regular";
}
.heading-M-SansSB{
    font: 20px / 150.5% "OpenSans-SemiBold";
}
.heading-M-SansSBI{
    font: 20px / 150.5% "OpenSans-SemiBoldItalic";
}
.heading-M-JM{
    font: 20px / 160% "Jost-Medium";
}
.heading-M-JSB{
    font: 20px / 160% "Jost-SemiBold";
}
.heading-S{
    font: 18px / 160% "OpenSans-Regular";
}
.heading-SB{
    font: 18px / 160% "OpenSans-SemiBold";
}
.primary-btn{
    display: flex;
    border-radius: 5px;
    font: 20px / 160% "Jost-SemiBold";
    padding: 14px 38px;
    color: var(--bs-white);
    position: relative;
    z-index: 2;
    overflow: hidden;
    border: 1px solid transparent;
    transition: all 0.3s;
}
.primary-btn::after{
    content: "";
    width: 110%;
    height: 110%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    background: var(--bs-primary-03);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    z-index: -1;
    transition: all 0.3s;
}
.primary-btn:hover{
    background-color: var(--bs-white);
    border: 1px solid black;
}
.primary-btn:hover .text{
    color: var(--bs-primary-03);
    animation: moveUpInitial 0.2s forwards, moveUpEnd 0.2s forwards 0.2s !important;
}
.primary-btn:hover::after {
  clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
}
.primary-btn:not(:hover)::after {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
@keyframes moveUpInitial {
    100%{
        transform: translateY(-120%);
    }
}
@keyframes moveUpEnd{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0);
    }
}